<ion-view view-title="Bacaan">
    <ion-content>
    	<div class="card content">
    		<div class="item item-head">Sebelum Memulakan</div>
    		<img class="full" src="img/solat-sebelum.jpg">
	    </div>

	    <div class="card content">
    		<div class="item item-head">Selepas Setiap Rakaat ke-2</div>
    		<p>Selepas rakat ke-2, ke-6, ke-10, ke-14, ke-18</p>
    		<img class="full" src="img/solat-pertama.jpg">
	    </div>

	    <div class="card content">
    		<div class="item item-head">Setiap Selepas Rakaat ke-4</div>
    		<p>Selepas rakat ke-4, ke-8, ke-12, ke-16</p>
    		<img class="full" src="img/solat-kedua.jpg">
	    </div>
	    <div class="card content">
    		<div class="item item-head">Setiap Rakaat ke-20</div>
    		<p>Selepas rakat ke-20</p>
    		<img class="full" src="img/solat-ketiga.jpg">
	    </div>
    </ion-content>
</ion-view>
