<ion-view view-title="Dalil">
    <ion-content>
    	<div class="card content">
    		<div class="item item-head">Dalil</div>
    		<p>Rasulullah S.A.W. sangat menggalakkan sembahyang Tarawih. Abu Hurairah berkata; “Rasulullah S.A.W. sangat menggalakkan sembahyang tarawih sekali pun beliau tidak mewajibkannya.” Baginda bersabda: “Sesiapa yang mengerjakan Qiyamu Ramadan semata-mata kerana iman dan mengharap ganjaran dari Allah, maka diampuni dosa-dosanya yang lampau.” Qiyamu Ramadan ialah menghidupkan malamnya dengan mengerjakan sembahyang.</p>
    		<p>Aisyah r.a. berkata; “Rasulullah s.a.w mengerjakan sembahyang tarawih di masjid, kemudian ramai sahabat yang mengikutinya. Pada malam berikutnya baginda S.A.W. mengerjakannya lagi di masjid, sahabat-sahabat yang datang pun semakin ramai. Pada malam ketiga sahabat-sahabat berkumpul di masjd menunggu kedatangan Rasulullah S.A.W. tetapi baginda tidak hadir. Besok paginya Rasulullah berkata kepada mereka; “Sesungguhnya aku melihat sambutan kamu. Sebenarnya aku tidak datang pada malam itu hanya kerana takut sembahyang itu diwajibkan ke atas kamu.” Dan peristiwa itu terjadi pada bulan Ramadan</p>
	    </div>
    </ion-content>
</ion-view>
