<ion-view view-title="Rakaat">
    <ion-content>
    	<div class="card content">
	        <div class="item item-head">Bilangan Rakaat Solat Terawih</div>
	        <ul>
	        	<li>Pada umumnya masyarakat Islam di Malaysia mendirikan sembahyang sunat Tarawih sebanyak 20 rakaat, tetapi ada juga yang hanya menunaikan sekadar 8 rakaat sahaja.</li>
	        	<li>Pada zaman Rasulullah SAW sembahyang Tarawih dikerjakan sebanyak 8 rakaat sahaja supaya tidak menimbulkan keberatan. Walau bagaimanapun terdapat juga hadith yang meriwayatkan bahawa Nabi Muhammad SAW pernah mengerjakan sebanyak 20 rakaat.</li>
	        	<li>Pada zaman Khalifah Omar bin al-Khattab RA pula beliau melaksanakannya sebanyak 20 rakaat kerana beliau berpendapat bahawa orang-orang Islam pada zamannya itu tidak keberatan lagi menunaikan sembahyang sebanyak itu.</li>
	        	<li>Sembahyang sunat Tarawih hendaklah ditunaikan dua rakaat pada tiap-tiap satu kali takbiratul ihram, kemudiannya dilakukan lagi sehingga genap rakaat yang dikehendaki.</li>
	        </ul>
	    </div>
    </ion-content>
</ion-view>
