<ion-view view-title="Waktu">
    <ion-content>
    	<div class="card content">
	        <div class="item item-head">Waktu Solat Terawih</div>
	        <p>Waktu solat terawih bermula selepas solat Isyak dan berterusan waktunya sehingga terbitnya fajar Subuh</p>
	        <p>Solat terawih juga boleh dilakukan selepas menunaikan solat jama' taqdim antar Maghrib dan Isyak bagi mereka yang diharuskan melakukan solat jama'.</p>
	        <p>Oleh itu, solat terawih yang dilakukan sebelum solat Isyak adalah tidak sah dan batal</p>
	    </div>
    </ion-content>
</ion-view>
