<div class="modal">
    <header class="bar bar-header bar-stable">
      	<h1 class="title"></h1>
      	<div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-close"></span></div>
    </header>
    <content has-header="true" padding="true">
      	<img class="logo" src="img/logo.svg">
      	<div class="row">
	      	<div class="content col col-offset-10" ng-controller="MyCtrl">
	      		<h1>Ramadhan</h1>
	      		<h4>Oleh Mohd Izuddin Helmi</h4>
	      		<p>Aplikasi ini telah dibina untuk membantu anda meningkatkan kefahaman anda tentang Ramadhan. Saya sedekahkan sebahagian pahala kepada keluarga dan rakan-rakan yang banyak membantu saya serta mereka yang berhak.</p>
	      		<p>Versi: 0.0.1</p>
	      		<a href="mailto:izuddin.helmi@gmail.com?Subject=[Ramadhan%20App]%20Hubungi" class="button">
				  Hubungi
				</a>
				<a href="https://dribbble.com/izuddinhelmi" class="button">
				  Portfolio
				</a>
				
	      	</div>
	      	<div class="col col-10"></div>
	    </div>
    </content>
    <div class="bar bar-footer">
	  <div class="title">Kufi oleh <a href="https://instagram.com/kuficollection/">KufiCollection</a></div>
	</div>
</div>