<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Definisi">
  <ion-content class="padding">
    <div class="row">
      <div class="col">
        <div class="card">
          <h3 class="item item-head">Yang berkewajipan membayar</h3>
          <ul class="content">
            <li>Individu yang mempunyai kelebihan makanan atau hartanya dari keperluan tanggungannya pada malam dan pagi hari raya.</li>
            <li>Anak yang lahir sebelum matahari jatuh pada akhir bulan Ramadan dan hidup selepas terbenam matahari.</li>
            <li>Memeluk Islam sebelum terbenam matahari pada akhir bulan Ramadan dan tetap dalam Islamnya.</li>
            <li>Seseorang yang meninggal selepas terbenam matahari akhir Ramadan.</li>
          </ul>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
