<ion-view view-title="Go Drop">
  <ion-content id="service">
  	<div class="service-header row row-center">
		<div class="col col-50 col-offset-25">
	  		<h4>Pick a service</h4>
	  		<p>Please select service that you want to use</p>
	  	</div>
  	</div>
  	<div class="service-selector row row-bottom">
  		<ul>
  			<li>
  				<a href="#/app/service-food">
	  				<div class="round">
	  					<img src="img/service-food.svg">
	  				</div>
	  				Food
	  			</a>
  			</li>
  			<li>
  				<a href="#/app/service-shopping">
	  				<div class="round">
	  					<img src="img/service-shopping.svg">
	  				</div>
	  				Shopping
	  			</a>
  			</li>
  			<li>
  				<a href="#/app/courier">
	  				<div class="round">
	  					<img src="img/service-courier.svg">
	  				</div>
	  				Courier
	  			</a>
  			</li>
  		</ul>
  	</div>
  </ion-content>
</ion-view>
