<ion-view view-title="Ramadhan">
lalalalala
  <ion-content>
    <div class="tab-header">
      <div class="row">
        <div class="col align-center">
            <h1>Zakat</h1>
            <p>Ibn Umar R.A. berkata : Rasulullah telah mewajibkan zakat fithrah dari bulan Ramadan satu sha' dari kurma, atau satu sha' dari sya'iir. atas seorang hamba, seorang merdeka, laki-laki, wanita, anak kecil dan orang dewasa dari kaum muslilmin. 
            </br>(Hadith riwayat al-Bukhari)</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-33">
        <div class="card">
          <a href="#/tab/zakat/definisi">
            <div class="item item-image">
              <img src="img/icon-definisi.svg">
            </div>
            <h3 class="item item-title">Definisi</h3>
          </a>
        </div>
      </div>
      <div class="col-33">
        <div class="card">
          <a href="#/tab/zakat/syarat">
            <div class="item item-image">
              <img src="img/icon-syarat-wajib.svg">
            </div>
            <h3 class="item item-title">Syarat Wajib</h3>
          </a>
        </div>
      </div>
      <div class="col-33">
        <div class="card">
          <a href="#/tab/zakat/waktu">
            <div class="item item-image">
              <img src="img/icon-waktu.svg">
            </div>
            <h3 class="item item-title">Waktu Bayaran</h3>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-33">
        <div class="card">
          <a href="#/tab/zakat/lafaz">
            <div class="item item-image">
              <img src="img/icon-lafaz.svg">
            </div>
            <h3 class="item item-title">Lafaz Akad</h3>
          </a>
        </div>
      </div>
      <div class="col-33">
        <div class="card">
          <a href="#/tab/zakat/kadar">
            <div class="item item-image">
              <img src="img/icon-fidyah.svg">
            </div>
            <h3 class="item item-title">Kadar Zakat 2015</h3>
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
