<ion-view view-title="Terawih">
  <ion-content>
    <div class="tab-header">
      <div class="row">
        <div class="col align-center">
            <p>Abu Hurairah R.A. berkata : Bahawa Rasulullah S.A.W. bersabda, "Sesiapa yang melaksanakan Ramadhan dengan penuh keimanan dan pengharapan, akan diampunkan baginya dosanya yang lalu." 
            </br>(Hadith riwayat Muslim)</p>
        </div>
      </div>
    </div>
    <ion-list>
      <ion-item class="item-divider">
        <h2>Solat Terawih</h2>
      </ion-item>
      <a class="item item-icon-right" href="#/tab/terawih/hukum">
        <h2>Hukum</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>

      <a class="item item-icon-right" href="#/tab/terawih/waktu">
        <h2>Waktu</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>

      <a class="item item-icon-right" href="#/tab/terawih/rakaat">
        <h2>Bilangan Rakaat</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>

      <a class="item item-icon-right" href="#/tab/terawih/rukun">
        <h2>Rukun</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>

      <a class="item item-icon-right" href="#/tab/terawih/bacaan">
        <h2>Bacaan</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>

    </ion-list>
  </ion-content>
</ion-view>
