<ion-view view-title="Puasa">
  <ion-nav-buttons side="right">
    <a ng-controller='PuasaCtrl' ng-click="modal.show()" class="button button-icon icon ion-heart"></a>
  </ion-nav-buttons>
  <ion-content>
    <div class="tab-header puasa">
      <div class="row">
        <div class="col align-center">
            <p>Ibn Umar R.A. berkata : Aku mendengar Rasulullah S.A.W. bersabda, "Apabila kamu melihatnya (anak bulan), maka berpuasalah dan apabila kamu melihatnya (anak bulan) maka berhari rayalah."</br>
            (Hadith riwayat al-Bukhari)</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-33">
        <div class="card">
          <a href="#/tab/puasa/definisi">
            <div class="item item-image">
              <img src="img/icon-definisi.svg">
            </div>
            <h3 class="item item-title">Maksud &amp; Rukun</h3>
          </a>
        </div>
      </div>
      <div class="col-33">
        <div class="card">
          <a href="#/tab/puasa/syarat">
            <div class="item item-image">
              <img src="img/icon-syarat-wajib.svg">
            </div>
            <h3 class="item item-title">Syarat Wajib</h3>
          </a>
        </div>
      </div>
      <div class="col-33">
        <div class="card">
          <a href="#/tab/puasa/niat">
            <div class="item item-image">
              <img src="img/icon-niat.svg">
            </div>
            <h3 class="item item-title">Niat</h3>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-33 puasa-batal">
        <div class="card">
          <a href="#/tab/puasa/pembatalan">
            <div class="item item-image">
              <img src="img/icon-batal.svg">
            </div>
            <h3 class="item item-title">Perkara Batal</h3>
          </a>
        </div>
      </div>
      <div class="col-33 puasa-sunat">
        <div class="card">
          <a href="#/tab/puasa/sunat">
            <div class="item item-image">
              <img src="img/icon-sunat.svg">
            </div>
            <h3 class="item item-title">Perkara Sunat</h3>
          </a>
        </div>
      </div>
      <div class="col-33 puasa-makruh">
        <div class="card">
          <a href="#/tab/puasa/makruh">
            <div class="item item-image">
              <img src="img/icon-makruh.svg">
            </div>
            <h3 class="item item-title">Perkara Makruh</h3>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-33">
        <div class="card">
          <a href="#/tab/puasa/uzur">
            <div class="item item-image">
              <img src="img/icon-keuzuran.svg">
            </div>
            <h3 class="item item-title">Keuzuran</h3>
          </a>
        </div>
      </div>
      <div class="col-33">
        <div class="card">
          <a href="#/tab/puasa/qadha">
            <div class="item item-image">
              <img src="img/icon-qadha.svg">
            </div>
            <h3 class="item item-title">Qadha</h3>
          </a>
        </div>
      </div>
      <div class="col-33">
        <div class="card">
          <a href="#/tab/puasa/fidyah">
            <div class="item item-image">
              <img src="img/icon-fidyah.svg">
            </div>
            <h3 class="item item-title">Fidyah</h3>
          </a>
        </div>
      </div>
    </div>
    <div class="bonus">
      <header>Bonus</header>
      <div class="row">
        <div class="col-50">
          <div class="card">
            <a href="#/tab/puasa/doa-sunnah">
              <img src="img/img-sunnah.jpg">
              <h3>Doa-doa Pilihan</br>dari Sunnah</h3>
            </a>
          </div>
        </div>
        <div class="col-50">
          <div class="card">
            <a href="#/tab/puasa/doa-quran">
              <img src="img/img-quran.jpg">
              <h3>Doa-doa Pilihan</br>dari Al Quran</h3>
            </a>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
