<ion-view view-title="Terawih">
  <ion-content>
    <div class="tab-header">
      <div class="row">
        <div class="col align-center">
            <p>Abu Hurairah R.A. berkata : Bahawa Rasulullah S.A.W. bersabda, "Sesiapa yang melaksanakan Ramadhan dengan penuh keimanan dan pengharapan, akan diampunkan baginya dosanya yang lalu." 
            </br>(Hadith riwayat Muslim)</p>
        </div>
      </div>
    </div>
    <ion-list>
      <ion-item class="item-remove-animate item-icon-right" type="item-text-wrap">
        <h2>Pensyariatan</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-remove-animate item-icon-right" type="item-text-wrap">
        <h2>Bilangan Rakaat</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-remove-animate item-icon-right" type="item-text-wrap">
        <h2>Solat Terawih Berjemaah</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-remove-animate item-icon-right" type="item-text-wrap">
        <h2>Waktu</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-remove-animate item-icon-right" type="item-text-wrap">
        <h2>Pelaksanaan</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-remove-animate item-icon-right" type="item-text-wrap">
        <h2>Niat</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-remove-animate item-icon-right" type="item-text-wrap">
        <h2>Bacaan</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
