<ion-view view-title="Soal Jawab">
  <ion-nav-buttons side="right">
    <a ng-controller='PuasaCtrl' ng-click="modal.show()" class="button button-icon icon ion-heart"></a>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-icon-right">
        <h2>1. Bolehkah seseorang itu berniat puasa selama sebulan kerana takut terlupa?</h2>
        <p>Pada hari pertama, boleh berniat puasa sebulan, boleh juga berniat setiap malam untuk menguatkan azam, untuk menempuh cabaran berpuasa.</p>
      </ion-item>

      <ion-item class="item-remove-animate item-icon-right">
        <h2>2. Adakah boleh tidak bersahur disebabkan malas untuk bangun bersahur?</h2>
        <p>Yang membezakan puasa kita dengan puasa bangsa Yahudi ialah makan sahur. Seeloknya bangun sejam sebelum masuk waktu imsak. Lagi lewat kita bersahur lebih berkat.</p>
      </ion-item>

      <ion-item>
        <h2>3. Benarkah berdosa wanita yang tidak berpuasa kerana haid, makan diwaktu siang kerana tidak menghormati bulan Ramadan?</h2>
        <p>Tidak berdosa dan boleh makan pada waktu siang selagi wanita tersebut tidak makan dikhalayak ramai.</p>
      </ion-item>

      <ion-item>
        <h2>4. Apakah hukumnya seorang suami menjimak isterinya pada siang hari dalam bulan Ramadan dan apakah hukumnya?</h2>
        <p>
        	Hukum bersetubuh di siang hari pada bulan Ramadan haram dan di kenakan kaffarah (Kaffarah hanya dikenakan kepada lelaki sahaja) seperti berikut:-
        	<ul>
				<li>Memerdeka seorang hamba (sudah tiada)</li>
				<li>Berpuasa 2 bulan berturut-turut jika sudah dicuba beberapa kali namun tidak mampu disegi syarak hendaklah,</li>
				<li>Menberi 60 orang miskin makan setiap seorang satu cupak makan asasi.
				Wajib qadha puasa yang terbatal kerana bersetubuh tersebut.</li>
			</ul>
		</p>
      </ion-item>

      <ion-item>
        <h2>5. Bolehkah seorang wanita mengandung dan menyusukan anaknya tidak berpuasa kerana tidak berupaya. </h2>
        <p>Menurut pendapat ulama mazhab Syafei bahawa wanita hamil dan menyusui apabila khuatir mengalami bahaya maka mereka wajib berbuka, tidak payah berpuasa. Dan dalam keadaan ini mereka hendaklah mengqadha puasanya kelak.</p>
      </ion-item>

      <ion-item>
        <h2>6. Adakah batal puasa bagi wanita yang bersolek di bulan Ramadan?</h2>
        <p>Tidak batal, asalkan gincu bibir yang dipakainya sederhana dan tidak mempunyai perasa ditakuti ketika menjilatnya lalu menelannya di anggap batal.</p>
      </ion-item>

      <ion-item>
        <h2>7. Adakah sah puasa sekiranya memberus gigi selepas azan subuh berkumandang untuk menunaikan solat subuh di dalam bulan puasa?</h2>
        <p>Sah puasa memberus gigi selepas azan subuh berkumandang. Perbuatan tersebut tidak membatalkan puasa. Hukumnya sunat dia menggosok gigi sebelum gelincir matahari dan makruh selepas gelincir matahari(selepas masuk waktu zohor).</p>
      </ion-item>

      <ion-item>
        <h2>8. Adakah terbatal puasa jika bermimpi jimak dan keluar air mani?</h2>
        <p>Bermimpi berjimak dan keluar air mani dalam berpuasa tidak membatalkan puasa kerana bermimpi adalah bukan perkara yang disengajakan.</p>
      </ion-item>

      <ion-item>
        <h2>9. Adakah muntah tidak membatalkan puasa?</h2>
        <p>Melakukan dengan sengaja membatalkan puasa. Sekiranya muntah tanpa kerelaannya sendiri dan tidak dapat menahannya, maka tidaklah batal puasa.</p>
      </ion-item>

      <ion-item>
        <h2>10. Benarkah tidur pada siang hari dalam bulan Ramadan itu dikira sebagai ibadah? Jika benar tidur yang bagaimana?</h2>
        <p>Tidur di siang hari pada bulan Ramadan itu ibadah dan dapat pahala. Tidur yang dimaksudkan itu ialah tidur kerana keletihan berpuasa. Ini bererti semua pancainderanya tidak melakukan sebarang kegiatan yang dilarang oleh syarak.</p>
      </ion-item>

      <ion-item>
        <h2>11. Adakah batal puasa sekiranya terlalu lama mandi dan berkumur?</h2>
        <p>Mandi berlebihan batal puasa, tetapi memasukkan sedikit air kerana berkumur tidak batal puasanya, kecuali berkumur terlalu dalam secara berlebihan.</p>
      </ion-item>

      <ion-item>
        <h2>12. Adakah batal puasa sekiranya melakukan aktiviti renang?</h2>
        <p>Melakukan aktiviti renang dengan niat untuk menyejukkan badan adalah makruh. Tetapi apabila air tersebut masuk ke dalam rongga yang terbuka seperti hidung, telinga dan sebagainya, maka hukum puasanya adalah terbatal dengan sebab melakukan aktiviti renang dengan sengaja.</p>
      </ion-item>

      <ion-item>
        <h2>13. Adakah sah puasa bagi seseorang yang pitam?</h2>
        <p>Sah puasanya, kecuali pitam yang berpanjangan dari terbit fajar sehinggalah terbenamnya matahari.</p>
      </ion-item>

      <ion-item>
        <h2>14. Apakah hukum cabut gigi, berbekam dan semasa berpuasa? </h2>
        <p>Hukumnya makruh. </p>
      </ion-item>

      <ion-item>
        <h2>15. Adakah melakukan pengubatan, misalnya suntikan ke tubuh badan dibolehkan?</h2>
        <p>Jika suntikan itu terpaksa dilakukan maka ia termasuk dalam darurat dan tidak membatalkan puasa. </p>
      </ion-item>

      <ion-item>
        <h2>16. Jika seseorang menunaikan puasa Ramadan tiba-tiba dia tidak dapat menahan rasa haus kerana cuaca teramat panas, bolehkan meminum sedikit air sekadar untuk membasahkan tekaknya?</h2>
        <p>Sekiranya orang yang berpuasa meminum air walaupun setitik atau seteguk, batal puasanya dan wajib baginya mengqadha puasanya itu.</p>
      </ion-item>

      <ion-item>
        <h2>17. Bilakah waktu yang sesuai untuk mandi wajib selepas bersama dengan suami pada malam hari pada bulan Ramadan?</h2>
        <p>Melambat-lambatkan mandi wajib adalah makruh. Sekiranya seseorang lelaki atau perempuan berjunub pada malam hari dalam bulan Ramadan dan tidak sempat mengangkat hadas besar sehingga terbit fajar (masuk waktu subuh), maka puasa kedua-dua mereka sah dengan syarat mereka berniat pada malam hari. Sama juga keadaan ini bagi mereka yang bermimpi pada malam hari sehingga keluar air mani. </p>
      </ion-item>

      <ion-item>
        <h2>18. Adakah sah puasa seseorang, ketika sedang bersahur terdengar azan subuh berkumandang?</h2>
        <p>Sah puasanya, dan hendaklah berhenti makan serta merta dan terus membuang sisa makanan yang berada di dalam mulutnya.</p>
      </ion-item>

      <ion-item>
        <h2>19. Saya berpuasa di Mekah lebih awal satu hari dari mereka berpuasa di Malaysia. Apabila saya balik, puasa saya sudah cukup 30 hari dan orang Malaysia masih berpuasa lagi. Adakah boleh saya berbuka dan berhari raya. </h2>
        <p>Mengikut khaul yang lebih betul tidak boleh berbuka dan berhari raya, hendaklah tunggu bersama berbuka dan berhari raya dengan penduduk Malaysia.</p>
      </ion-item>

      <ion-item>
        <h2>20. Apabila kita berpuasa dibulan ramadhan, dan melakukan onani, apakah kita perlu membayar fidyah/puasa berturut-turut seperti org yang melakukan persetubuhan. atau puasa tadi hanya perlu diganti satu hari sahaja.</h2>
        <p>Puasa wajib digantikan semula dengan berpuasa sebanyak mana hari yang ditinggalkan tersebut sahaja.</p>
      </ion-item>

      <ion-item>
        <h2>21. Batalkah puasa jika menggunakan ubat utk mata seperti EYE More semasa berpuasa?</h2>
        <p>Pesakit mata yang menggunakan ubat untuk mata seperti eye more dengan cara menitikkannya ke dalam mata semasa berpuasa, tidak batal puasa kerana ia bukan termasuk kategori anggota yang berongga.</p>
      </ion-item>

      <ion-item>
        <h2>22. Ada satu hadis mengenai jika kita berpuasa tanpa makan sahur adalah puasa kita menyerupai puasa orang yahudi, jadi adakah amalan puasa itu sia-sia dan tidak diterima Allah swt.</h2>
        <p>Bersahur adalah sunat dan merupakan sunnah nabi s.a.w. Jika kita tidak bersahur kita tidak dapat pahala sahur. Puasa yang dikerjakan tanpa bersahur akan diberi ganjaran oleh Allah juga.</p>
      </ion-item>

      <ion-item>
        <h2>23. Adakah sah bila kita niat puasa ganti wajib dengan niat bahasa melayu sahaja?</h2>
        <p>Sah puasa dengan hanya niat dalam bahasa Melayu sahaja.</p>
      </ion-item>

      <ion-item>
        <h2>24. Apakah perbezaan puasa antara kanak-kanak dan orang dewasa?</h2>
        <p>Kanak-kanak yang berpuasa akan diberikan ganjaran pahala manakala puasa bagi orang dewasa adalah satu kefardhuan yang ditetapkan oleh Allah SWT</p>
      </ion-item>

      <ion-item>
        <h2>25. Saya mempunyai penyakit 'asma' dan terpaksa menggunakan 'inhaler' untuk membantu pernafasan ketika diserang asma. Jika saya sedang berpuasa, adakah puasa saya sah?</h2>
        <p>Pesakit asma yang menggunakan inhaler untuk membantu pernafasan ketika diserang asma semasa sedang berpuasa adalah tidak terbatal puasanya. Mengikut pandangan ulama' zaman ini, inhaler tidak membatalkan puasa lebih-lebih lagi mereka yang menghidapi athma kronik yang memerlukannya setiap saat dan ketika.</p> 
        <p>Keharusan itu bukan bermaksud wajib atau sunat tetapi sebagai rukhsah (kelonggaran) atas keperluan dan dharurat seseorang pesakit yang membolehkan pesakit athma terus berpuasa tanpa berbuka dan menyukarkannya untuk melakukan puasa berterusan di dalam bulan Ramadhan.Walau bagaimanapun seseorang yang jarang diserang athma dan tidak bergantung dengan inhaler, tiba-tiba athma menyerang ketika berpuasa, mereka juga diberi rukhsah (kelonggaran) dengan alasan sakit untuk berbuka dengan tujuan makan ubat dan sebagainya dan menggantikannya (qadha') di hari yang lain pula.</p>
      </ion-item>

      <ion-item>
        <h2>26. Seseorang yang berpuasa, kentut atau qada hajat didalam air, Adakah batal puasanya?.</h2>
        <p>Seseorang yang berpuasa, kentut atau qadha' hajat di dalam air puasa tidak batal sekiranya dia meyakini bahawa air tidak memasuki dubur dan qubulnya.</p>
      </ion-item>

      <ion-item>
        <h2>27. Saya di beritahu oleh seorang rakan yang waktu imsak hanya lah sebagai "amaran" yang waktu subuh akan tiba. Dia juga mengatakan yang kita masih boleh makan atau minum sebelum azan subuh bermula walaupun melewati waktu imsak. Dia juga memberitahu bahawa ada hadis yang menyatakan tentang perkara ini.</h2>
        <p>Waktu puasa yang sebenarnya ialah waktu naik fajar subuh hingga terbenam matahari atau hingga masuknya waktu maghrib. Harus bagi seseorang bersahur pada waktu imsak, tetapi sebaik-baiknya mengambil sikap ihtiyat (cermat) dengan menahan daripada makan dan minum beberapa waktu yang lebih awal untuk mengelakkan melampaui batas-batas yang diharuskan dan meragukan.</p>
      </ion-item>

      <ion-item>
        <h2>28. Suami saya langsung tidak mengerjakan solat wajib lima waktu apatah lagi solat sunat. Jauh sekali solat Jumaat. Apakah puasanya diterima?</h2>
        <p>Puasa adalah puasa, solat adalah solat kedua-duanya wajib disempurnakan secara bersama. Malahan semua Rukun Islam yang terdiri daripada sembahyang, puasa, zakat dan haji dikehendaki ditunaikan semuanya dengan sempurna.Sesiapa meninggalkan salah satunya tanpa uzur ia dianggap meninggalkan Rukun Islam.</p>
        <p>Berpandukan pendapat ini orang yang berpuasa tetapi meninggalkan solat tanpa uzur yang munasabah dianggap lemah iman dan dibimbangi keimanannya. Jika ia berpuasa lengkap syarat dan rukunnya puasanya tetap sah sakalipun berdegil dengan solat terpulanglah kepada Allah SWT untuk mempertimbangkannya.</p>
      </ion-item>

      <ion-item>
        <h2>29. Benarkah pap smear tidak membatalkan puasa?</h2>
        <p>Batal puasa apabila memasukan sesuatu dalam rongga terbuka seperti kemaluan depan dan belakang.</p>
      </ion-item>

      <ion-item>
        <h2>30. Saya selalu selsema, selain menghembus saya juga tarik ke dalam, batalkah puasa saya? </h2>
        <p>Hingus yang keluar dari rongga hidung apabila disedut semula ke dalam hidung batal puasanya</p>
      </ion-item>

      <ion-item>
        <h2>31. Adakah boleh ambil darah semasa berpuasa?</h2>
        <p>Boleh ambil darah semasa berpuasa dan tidak membatalkan puasa hukumnya adalah makruh.</p>
      </ion-item>

      <ion-item>
        <h2>32. Apakah rongga terbuka yang boleh menyebabkan terbatal puasa seseorang jika dimasukkan sesuatu?</h2>
        <p>Yang dimaksudkan dengan rongga terbuka ialah hidung, mulut, telinga dan qubul dan dubur apabila dimasukkan sesuatu ke dalam rongga tesebut yang menyebabkan terbatal puasa.</p>
      </ion-item>

      <ion-item>
        <h2>33. Ketika kedua-dua suami isteri sedang berpuasa di bulan ramadan, suami menyuruh isteri memegang alat sulitnya tetapi tidaklah sehingga mengeluarkan air mani. Apakah status puasa kedua-duanya? perlukah membayar denda dsb?</h2>
        <p>Puasa bagi kedua-dua suami isteri sah dan tidak dikenakan apa-apa bayaran denda. Tuan puan dinasihatkan supaya tidak melakukan perkara tersebut di siang hari pada bulan puasa kerana ia boleh mengurangkan pahala puasa.</p>
      </ion-item>

      <ion-item>
        <h2>34. Suami-isteri bercium pada hari berpuasa,adakah puasanya terbatal?</h2>
        <p>Suami isteri boleh bercium di pipi sahaja dan tidak batal puasa yang kita kerjakan.Tetapi sekiranya memasukkan lidah ke dalam mulut batal puasa yang dikerjakan.</p>
      </ion-item>

      <ion-item>
        <h2>35. Huraian berkenaan puasa dan rawatan pergigian (tampalan,cabutan,scaling dsb)?</h2>
        <p>Menampal, mencabut dan scaling gigi di siang hari Ramadhan adalah makruh hukumnya, tetapi boleh membatalkan puasa sekiranya tertelan darah dan bahan rawatan bersama air liur.</p>
      </ion-item>

      <ion-item>
        <h2>36. Sah atau tidak puasa seorang wanita yang tidak mandi hadas setelah habis haid pada malam sebelumnya?</h2>
        <p>Sah puasa bagi wanita yang telah kering haid pada malam hari tetapi belum mandi hadas sehingga siang hari Ramadhan.</p>
      </ion-item>

      <ion-item>
        <h2>37. Adakah batal jika kita mengorek hidung/telinga pada siang hari pada bulan ramadhan dengan sengaja?</h2>
        <p>Hukum korek hidung atau telinga ketika berpuasa secara sengaja adalah makruh. Ianya tidak menjadi makruh sekiranya melakukan secara bersebab seperti telinga gatal dan sebagainya. Hukum yang mengatakan terbatal puasa sekiranya mengorek telinga atau hidung adalah seperti mengorek telinga atau hidung seperti di luar batas manusia, sebagai contoh mengorek hidung melepasi tulang di atas hidung dan mengorek telinga sehingga melepasi gegendang telinga.</p>
      </ion-item>

      <ion-item>
        <h2>38. Saya tak terbangun makan sahur dan niat puasa selepas waktu imsak adakah sah atau tidak ?</h2>
        <p>Sah puasa yang dikerjakan walaupun berniat selepas waktu imsak.</p>
      </ion-item>

      <ion-item>
        <h2>39. Apakah hukumnya makan pil perancang untuk melewatkan darah haid turun untuk meneruskan puasa di bulan puasa?</h2>
        <p>Dilarang kepada wanita memakan pil perancang dengan tujuan berkenaan kerana ia akan memberi kemudharatan kepada kesihatan individu tersebut.</p>
      </ion-item>

      <ion-item>
        <h2>40. Saya membuat rawatan Hemodialisis. Adakah batal puasa saya?</h2>
        <p>Puasa pesakit tidak batal walau pun dia menerima rawatan hemodialisis/cuci darah.</p>
      </ion-item>

      <ion-item>
        <h2>41. Saya ingin tahu, adakah batal puasa jika menelan kahak yang sedia ada didalam tekak?</h2>
        <p>Kahak yang terdapat di dalam tekak jika tertelan tidak batal tetapi sekiranya kahak itu sudah berada di mulut sekiranya ditelan dengan sengaja maka batal puasa tersebut dan wajib qadha' puasa.</p>
      </ion-item>

      <ion-item>
        <h2>42. Batal kah puasa kita, jika kita memasukkan jari kedalam kemaluan belakang kita dengan niat ingin membersihkan dubur kita setelah membuang air besar?</h2>
        <p>Sekiranya perkara tersebut dilakukan semata-mata untuk membersihkan najis ia tidaklah membatalkan puasa.</p>
      </ion-item>

      <ion-item>
        <h2>43. Apa hukumnya bila seseorang itu memakai 'tindik lidah' dan ingin menjalani ibadah puasa. Adakah puasanya sah?</h2>
        <p>Islam adalah agama yang menitik beratkan akhlak dan budi pekerti. Meniru cara hidup atau budaya orang bukan Islam, tidak digalakkan. Justeru itu, panel menasihatkan supaya sesiapa yang memakai subang di lidah, hendaklah dibuka semasa berpuasa.</p>
      </ion-item>

      <ion-item>
        <h2>44. Apakah hukum puasa bagi mereka yang tidur sampai ke petang atau masuk waktu zuhur?</h2>
        <p>Sah puasa tersebut tetapi dihukumkan makruh.</p>
      </ion-item>

      <ion-item>
        <h2>45. Bagaimana sekiranya sahabat saya dalam keadaan sakit. Atas nasihat doktor, beliau tidak boleh berpuasa seumur hidupnya. Bagaimanakah beliau hendak menggantikan puasanya. Cukupkah dengan sekadar fidyiah. Dan berapakah sukatannya.</h2>
        <p>Cukup sekadar dia membayar fidyah untuk puasanya sehari bersamaan dengan satu cupak beras(675gram). Jadi, untuk bulan ramadhan, dia dikehendaki membayar 30 cupak beras</p>
      </ion-item>

      <ion-item>
        <h2>46. Adakah sepasang suami isteri dikira sebagai bersetubuh apabila perhubungan tidak sampai ke tahap jimak iaitu zakar dimasukkan ke dalam faraj ketika siang hari pada bulan puasa? Sebagai contoh, perhubungan yang hanya melibatkan pelukan atau ciuman sesama suami isteri.</h2>
        <p>Perhubungan yang melibatkan pelukan dan ciuman sesama isteri diwaktu siang hari pada bulan ramadhan adalah makruh.</p>
      </ion-item>

      <ion-item>
        <h2>47. Adakah sah puasa seseorang yang berbuka dengan tidak yakin/berat sangka sudah masuk waktu?</h2>
        <p>Tidak sah.</p>
      </ion-item>

      <ion-item>
        <h2>48. Adakah sah puasa bagi mereka yang tertidur semasa sahur sehingga waktu maghrib?</h2>
        <p>Sah Puasa</p>
      </ion-item>

      <ion-item>
        <h2>49. Apakah hukum yang dikenakan kerana berzina atau wathisubhah pada bulan puasa?</h2>
        <p>Hukumnya batal puasa dan dikenakan kifarat ke atas kedua-duanya sekali (lelaki dan perempuan).</p>
      </ion-item>

      <ion-item>
        <h2>50. Seseorang yang telah menyediakan makanan untuk makan sahur, kemudian dia terjaga selepas fajar, adakah sah puasanya pada hari itu?</h2>
        <p>Sah puasa dengan penyediaan sahurnya kerana penyediaan sahur itu dianggap sebagai telah berniat.</p>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
