<ion-view view-title="Waktu">
  <ion-nav-buttons side="right">
    <a ng-controller='PuasaCtrl' ng-click="modal.show()" class="button button-icon icon ion-heart"></a>
  </ion-nav-buttons>
  <ion-content>
    <div class="tab-header waktu">
      <div class="row">
        <div class="col align-center">
            <p>Sahl Ibn Sa'd R.A. berkata : Rasulullah telah bersabda "Manusia (umat islam) sentiasa dalam kebaikan sepanjang kamu menyegerakan berbuka puasa." 
            </br>(Hadith riwayat al-Bukhari)</p>
        </div>
      </div>
    </div>
    <div class="list list-states">
        <a class="item item-icon-right row" href="#/tab/waktu/perlis">
          <div class="col flag"><img src="img/flag-perlis.png"></div>
          <div class="col col-50 state state">Perlis</div>
           <i class="icon ion-chevron-right icon-accessory"></i>
        </a>

        <a class="item item-icon-right row" href="#/tab/waktu/kedah">
          <div class="col flag"><img src="img/flag-kedah.png"></div>
          <div class="col col-50 state">Kedah</div>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </a>

        <a class="item item-icon-right row" href="#/tab/waktu/penang">
          <div class="col flag"><img src="img/flag-penang.png"></div>
          <div class="col col-50 state">Pulau Pinang</div>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </a>

        <a class="item item-icon-right row" href="#/tab/waktu/perak">
          <div class="col flag"><img src="img/flag-perak.png"></div>
          <div class="col col-50 state">Perak</div>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </a>

        <a class="item item-icon-right row" href="#/tab/waktu/selangor">
          <div class="col flag"><img src="img/flag-selangor.png"></div>
          <div class="col col-50 state">Selangor</div>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </a>

        <a class="item item-icon-right row" href="#/tab/waktu/kl">
          <div class="col flag"><img src="img/flag-kl.png"></div>
          <div class="col col-50 state">Kuala Lumpur</div>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </a>

        <a class="item item-icon-right row" href="#/tab/waktu/putrajaya">
          <div class="col flag"><img src="img/flag-putrajaya.png"></div>
          <div class="col col-50 state">Putrajaya</div>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </a>

        <a class="item item-icon-right row" href="#/tab/waktu/ns">
          <div class="col flag"><img src="img/flag-ns.png"></div>
          <div class="col col-50 state">Negeri Sembilan</div>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </a>

        <a class="item item-icon-right row" href="#/tab/waktu/melaka">
          <div class="col flag"><img src="img/flag-melaka.png"></div>
          <div class="col col-50 state">Melaka</div>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </a>

        <a class="item item-icon-right row" href="#/tab/waktu/johor">
          <div class="col flag"><img src="img/flag-johor.png"></div>
          <div class="col col-50 state">Johor</div>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </a>

        <a class="item item-icon-right row" href="#/tab/waktu/pahang">
          <div class="col flag"><img src="img/flag-pahang.png"></div>
          <div class="col col-50 state">Pahang</div>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </a>

        <a class="item item-icon-right row" href="#/tab/waktu/terengganu">
          <div class="col flag"><img src="img/flag-terengganu.png"></div>
          <div class="col col-50 state">Terengganu</div>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </a>

        <a class="item item-icon-right row" href="#/tab/waktu/kelantan">
          <div class="col flag"><img src="img/flag-kelantan.png"></div>
          <div class="col col-50 state">Kelantan</div>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </a>

<!--         <a class="item item-icon-right row" href="#/tab/waktu/sarawak">
          <div class="col flag"><img src="img/flag-sarawak.png"></div>
          <div class="col col-50 state">Sarawak</div>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </a>

        <a class="item item-icon-right row" href="#/tab/waktu/sabah">
          <div class="col flag"><img src="img/flag-sabah.png"></div>
          <div class="col col-50 state">Sabah</div>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </a>

        <a class="item item-icon-right row" href="#/tab/waktu/labuan">
          <div class="col flag"><img src="img/flag-labuan.png"></div>
          <div class="col col-50 state">Labuan</div>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </a> -->
      </div>
  </ion-content>
</ion-view>
