<ion-view view-title="Ramadhan">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Pengertian Ramadhan</div>
      <div class="item item-body">
        <div>
          Puasa ( ￼ ) dalam bahasa Arab bermaksud meninggalkan. Manakala maksud di sisi ahli Feqah ialah meninggalkan ( ￼ ) diri melakukan perkara-perkara yang boleh membatalkan puasa iaitu bemula daripada terbit fajar hingga terbenamnya matahari dan disertai dengan niat.
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Niat</div>
      <div class="item item-body">
        <div>
          <ul>
            <li>Puasa Ramadhan tidak sah tanpa niat.</li>
            <li>Niat itu di dalam hati dan bukan dengan lisan di mana tidak disyaratkan ‘Talaffuz’ (menyebut niat dengan lisan).</li>
            <li>Ketika berniat, wajib menentukan jenis puasa seperti Ramadhan bagi puasa bulan Ramadhan.</li>
            <li>Bagi puasa-puasa yang wajib, niat disyaratkan hendaklah dibuat pada malam hari, iaitu selepas ter- benam matahari hingga sebelum subuh. Pendapat yang sahih dalam mazhab Syafie ialah tidak sah niat yang serentak dengan ketibaan waktu fajar.9 Bagi puasa sunat pula, dibolehkan berniat pada siang hari selagi belum tergelincir matahari (masuk waktu Zuhur).</li>
            <li>Niat hendaklah dilakukan pada setiap malam untuk setiap hari puasa yang dilakukan. Ini berdasarkan pendapat Imam Syafie, Abu Hanifah dan riwayat paling sahih dari Imam Ahmad.10 Mengikut pendapat Imam Malik dan riwayat dari Imam Ahmad pula, cukup sekali niat sahaja untuk satu bulan Ramadhan dan hendaklah niat itu dilakukan pada malam pertama Ramadhan.</li>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
