<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="Puasa" icon-off="ion-ios-moon-outline" icon-on="ion-ios-moon" href="#/tab/puasa">
    <ion-nav-view name="tab-puasa"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Terawih" icon-off="solat-outline" icon-on="solat" href="#/tab/terawih">
    <ion-nav-view name="tab-terawih"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Zakat" icon-off="ion-social-usd-outline" icon-on="ion-social-usd" href="#/tab/zakat">
    <ion-nav-view name="tab-zakat"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Waktu" icon-off="ion-ios-alarm-outline" icon-on="ion-ios-alarm" href="#/tab/waktu">
    <ion-nav-view name="tab-waktu"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Log" icon-off="ion-ios-bookmarks-outline" icon-on="ion-ios-bookmarks" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Soalan" icon-off="ion-ios-help-outline" icon-on="ion-ios-help" href="#/tab/soal">
    <ion-nav-view name="tab-soal"></ion-nav-view>
  </ion-tab>


</ion-tabs>
