<ion-view view-title="Pembatalan Puasa">
    <ion-content>
    	<div class="card content">
        	<div class="item item-head">Pembatalan Puasa</div>
        	<p>Perkara yang membatalkan puasa adalah setiap perkara yang boleh merosakkan puasa dan dianggap sebagai orang yang berbuka puasa</p>
	        <ul class="content">
				<li>
					<strong>Makan dan minum dengan sengaja</strong>
					<p>Ini merujuk kepada makanan dan minuman yang memasuki perut melalui mulut. Apa-apa yang memasuki perut melalui hidung, ini adalah seperti makan dan minum.</p>
					<p>Jika orang yang berpuasa itu makan atau minum secara terlupa, maka puasanya masih dikira sah.</p>
				</li>
				<li>
					<strong>Muntah dengan sengaja</strong>
					<p>Barangsiapa yang muntah dengan sengaja dengan meletakkan jarinya pada tekaknya, menekan perutnya, sengaja bau suatu yang teruk atau tetap melihat pada suatu yang boleh menyebabkannya untuk muntah, perlu menggantikan puasanya pada hari lain. Jikalau muntahnya ingin terkeluar, maka janganlah dia menahannya kerana ia akan memudaratkannya.</p>
				</li>
				<li>
					<strong>Berjimak</strong></br>
					<p>Orang yang berjimak pada siang hari wajib mengqadhakan puasanya disertai dengan pembayaran kifarah:</p>
					<ul class="content">
						<li>Membebaskan seorang hamba, atau</li>
						<li>Berpuasa selama dua bulan berturut-turut, atau</li>
						<li>Memberi makan kepada 60 orang fakir miskin</li>
					</ul>
				</li>
				<li>
					<strong>Keluar darah haid atau nifas</strong>
					<p>Jika seseorang wanita haidh atau nifas, pada suatu bahagian siang tertentu (di bulan Ramadhan), sama ada di awal atau pun di akhir waktu, maka mereka harus berbuka dan mengqadhakannya. Jika mereka tetap berpuasa, maka puasa tidaklah sah.</p>
				</li>
				<li>
					<strong>Gila</strong></br>
					<p>Orang yang diserang sakit gila seperti histeria walaupun sekejap tetap batal puasanya walau tidak disengajakan. Wajib diqadak.</p>
				</li>
				<li>
					<strong>Pengsan</strong></br>
					<p>Pitam atau pengsan sehingga masuk waktu Maghrib membuat puasa itu batal. Wajib diqadakkan kemudian hari. Jika tersedar dari pengsan sebelum masuk waktu Maghrib maka puasanya tidak batal dan tetap sah dan boleh diteruskan.</p>
				</li>
				<li>
					<strong>Mengeluarkan mani pada siang hari</strong></br>
					<p>Keluar air mani dengan sengaja adalah dengan menonton atau melihat atau membaca sesuatu yang boleh menaikkan nafsu syahwat hingga keluar air mani. Puasanya batal dan wajib mandi hadas. Jika sedang tidur lalu mimpi dan keluar air mani, puasanya tidak batal tetapi wajib mandi hadas kerana keluar air mani adalah satu hadas besar.</p>
				</li>
				<li>
					<strong>Murtad</strong></br>
					<p>Jika seorang Muslim yang sedang berpuasa menjadi murtad(keluar dari Islam) dengan sengaja atau tidak puasanya batal dan wajib bertaubat dan mengucap 2 kalimah syahadah serta mengqadakkan semula puasa itu.</p>
				</li>
	        </ul>
      </div>
    </ion-content>
</ion-view>
