<ion-view view-title="Pembatalan Puasa">
    <ion-content>
    	<div class="card content">
        	<div class="item item-head">Pembatalan Puasa</div>
        	<p>Perkara yang membatalkan puasa adalah setiap perkara yang boleh merosakkan puasa dan dianggap sebagai orang yang berbuka puasa</p>
	        <ul class="content">
				<li>
					<strong>Makan dan minum dengan sengaja</strong></br>
					<p>Ini merujuk kepada makanan dan minuman yang memasuki perut melalui mulut. Apa-apa yang memasuki perut melalui hidung, ini adalah seperti makan dan minum.</p>
					<p>Jika orang yang berpuasa itu makan atau minum secara terlupa, maka puasanya masih dikira sah.</p>
				</li>
				<li>
					<strong>Muntah dengan sengaja</strong></br>
					Barangsiapa yang muntah dengan sengaja dengan meletakkan jarinya pada tekaknya, menekan perutnya, sengaja bau suatu yang teruk atau tetap melihat pada suatu yang boleh menyebabkannya untuk muntah, perlu menggantikan puasanya pada hari lain. Jikalau muntahnya ingin terkeluar, maka janganlah dia menahannya kerana ia akan memudaratkannya. 
				</li>
				<li>
					<strong>Berjimak</strong></br>
					Orang yang berjimak pada siang hari wajib mengqadhakan puasanya disertai dengan pembayaran kifarah:
					<ul class="content">
						<li>Membebaskan seorang hamba, atau</li>
						<li>Berpuasa selama dua bulan berturut-turut, atau</li>
						<li>Memberi makan kepada 60 orang fakir miskin</li>
					</ul>
				</li>
				<li>
					<strong>Keluar darah haid atau nifas</strong></br>
					“Inilah wang bagi menggantikan beras fitrah yang wajib ke atas pihak yang aku wakili …… pada tahun ini kerana Allah Ta’ala.”
				</li>
				<li>
					<strong>Gila</strong></br>
					“Inilah wang bagi menggantikan beras fitrah yang wajib ke atas pihak yang aku wakili …… pada tahun ini kerana Allah Ta’ala.”
				</li>
				<li>
					<strong>Mengeluarkan mani pada siang hari</strong></br>
					“Inilah wang bagi menggantikan beras fitrah yang wajib ke atas pihak yang aku wakili …… pada tahun ini kerana Allah Ta’ala.”
				</li>
				<li>
					<strong>Murtad</strong></br>
					“Inilah wang bagi menggantikan beras fitrah yang wajib ke atas pihak yang aku wakili …… pada tahun ini kerana Allah Ta’ala.”
				</li>
	        </ul>
      </div>
    </ion-content>
</ion-view>
