<ion-view view-title="Maksud &amp; Rukun">
    <ion-content>

      <div class="card content">
        <div class="item item-head">Maksud</div>
        <p>
          Menahan diri dari makan dan minum dan perkara yang membatalkan puasa dari terbit fajar sadiq hingga terbenam matahari yang disertai dengan niat.
        </p>
        <div class="item item-head">Rukun Puasa</div>
        <ol class="content">
          <li>
            Menahan diri daripada setiap perkara yang boleh membatalkan puasa sebaik sahaja terbitnya fajar sadiq (Subuh) berterusan hingga terbenam matahari (Maghrib).
          </li>
          <li>
            Niat, orang yang berpuasa mengqasadkan niat di dalam hati untuk berpuasa sebagai bentuk ibadah kepada Allah S.W.T. Niat membezakan setiap amalan yang dimaksudkan untuk ibadat daripada perkara lain.
          </li>
        </ol>
      </div>
    </ion-content>
</ion-view>
