<ion-view view-title="Doa dari Quran">
  <ion-content>
    <div class="tab-header">
      <div class="row">
        <div class="col align-center">
            <p>Disusun dan diolah oleh Umm Abdillah Ili Dalila, diedar oleh Nurhafizah Amilsarifhudin</p>
        </div>
      </div>
    </div>
    <ion-list class="list-doa">
      <ion-item class="item-remove-animate">
        <div class="count">1</div>
        <h2>اهْدِنَا الصِّرَاطَ الْمُسْتَقِيمَ. صِرَاطَ الَّذِينَ أَنْعَمْتَ عَلَيْهِمْ غَيْرِ الْمَغْضُوبِ عَلَيْهِمْ وَلَا الضَّالِّينَ
</h2>
        <p>Tunjukkanlah kami jalan yang lurus; jalan orang-orang yang Kau kurniakan nikmat ke atas mereka, dan bukan jalan orang-orang yang Kau murkai dan bukan pula jalan orang-orang yang sesat. (al-Fatihah : 6-7)</p>
      </ion-item>

      <ion-item class="item-remove-animate">
        <div class="count">2</div>
        <h2>رَبَّنَا تَقَبَّلْ مِنَّا إِنَّكَ أَنْتَ السَّمِيعُ الْعَلِيمُ. رَبَّنَا وَاجْعَلْنَا مُسْلِمَيْنِ لَكَ وَمِنْ ذُرِّيَّتِنَا أُمَّةً مُسْلِمَةً لَكَ وَأَرِنَا مَنَاسِكَنَا وَتُبْ عَلَيْنَا إِنَّكَ أَنْتَ التَّوَّابُ الرَّحِيمُ</h2>
        <p>Wahai Tuhan kami terimalah ibadah ini dari kami, sesungguhnya Engkau yang Maha Mendengar dan Maha Mengetahui. Wahai Tuhan kami, jadikanlah kami dan zuriat kami, orang-orang yang menyerah diri kepadaMu, dan tunjukkanlah kami cara-cara menunaikan haji kami. Terimalah taubat kami, sesungguhnya Engkau yang Maha menerima taubat dan Maha Penyayang, (al-Baqarah : 127-128)</p>
      </ion-item>

      <ion-item class="item-remove-animate">
        <div class="count">3</div>
        <h2>رَبَّنَا آتِنَا فِي الدُّنْيَا حَسَنَةً وَفِي الْآخِرَةِ حَسَنَةً وَقِنَا عَذَابَ النَّارِ</h2>
        <p>Wahai Tuhan kami, berilah kami kebaikan di dunia dan kebaikan di akhirat dan peliharalah kami daripada azab neraka. (al-Baqarah : 201)</p>
      </ion-item>

      <ion-item class="item-remove-animate">
        <div class="count">4</div>
        <h2>رَبَّنَا أَفْرِغْ عَلَيْنَا صَبْرًا وَثَبِّتْ أَقْدَامَنَا وَانْصُرْنَا عَلَى الْقَوْمِ الْكَافِرِينَ</h2>
        <p>Wahai Tuhan kami, limpahkanlah sabar kepada kami dan tetapkanlah tapak pendirian kami serta menangkanlah kami ke atas kaum yang kafir. (al-Baqarah : 250)</p>
      </ion-item>

      <ion-item class="item-remove-animate">
        <div class="count">5</div>
        <h2>رَبَّنَا لَا تُؤَاخِذْنَا إِنْ نَسِينَا أَوْ أَخْطَأْنَا رَبَّنَا وَلَا تَحْمِلْ عَلَيْنَا إِصْرًا كَمَا حَمَلْتَهُ عَلَى الَّذِينَ مِنْ قَبْلِنَا رَبَّنَا وَلَا تُحَمِّلْنَا مَا لَا طَاقَةَ لَنَا بِهِ وَاعْفُ عَنَّا وَاغْفِرْ لَنَا وَارْحَمْنَا أَنْتَ مَوْلَانَا فَانْصُرْنَا عَلَى الْقَوْمِ الْكَافِرِينَ</h2>
        <p>Wahai Tuhan kami, janganlah Kau hukum kami jika kami lupa atau tersalah, dan janganlah Kau bebankan kami dengan bebaban yang berat sebagaimana Kau bebankan ke atas umat sebelum kami. Wahai Tuhan kami, janganlah Kau pikulkan ke atas kami apa yang tidak mampu kami memikulnya. Ampunkanlah kami serta rahmatilah kami, Engkaulah penolong kami maka menangkanlah kami ke atas kaum yang kafir. (al-Baqarah : 286)</p>
      </ion-item>

      <ion-item class="item-remove-animate">
        <div class="count">6</div>
        <h2>رَبَّنَا لَا تُزِغْ قُلُوبَنَا بَعْدَ إِذْ هَدَيْتَنَا وَهَبْ لَنَا مِنْ لَدُنْكَ رَحْمَةً إِنَّكَ أَنْتَ الْوَهَّابُ</h2>
        <p>Wahai Tuhan kami, janganlah Kau pesongkan hati kami setelah Kau beri petunjuk kepada kami. Dan berikanlah kami rahmat dari sisiMu. Sesungguhnya Kaulah yang Maha melimpah-limpah pemberiannya. (ali-‘Imran : 8)</p>
      </ion-item>

      <ion-item class="item-remove-animate">
        <div class="count">7</div>
        <h2>رَبَّنَا إِنَّنَا آمَنَّا فَاغْفِرْ لَنَا ذُنُوبَنَا وَقِنَا عَذَابَ النَّارِ</h2>
        <p>Wahai Tuhan kami, sesungguhnya kami telah beriman kepadaMu, maka ampunkanlah dosa-dosa kami dan peliharalah kami daripada azab neraka. (ali-‘Imran : 16)</p>
      </ion-item>

      <ion-item class="item-remove-animate">
        <div class="count">8</div>
        <h2>رَبِّ هَبْ لِي مِنْ لَدُنْكَ ذُرِّيَّةً طَيِّبَةً إِنَّكَ سَمِيعُ الدُّعَاءِ</h2>
        <p>Wahai Tuhanku, kurniakanlah aku dari sisiMu zuriat yang baik. Sesungguhnya Kau yang Maha Mendengar segla doa. (ali-‘Imran : 38)</p>
      </ion-item>

      <ion-item class="item-remove-animate">
        <div class="count">9</div>
        <h2>رَبَّنَا آمَنَّا بِمَا أَنْزَلْتَ وَاتَّبَعْنَا الرَّسُولَ فَاكْتُبْنَا مَعَ الشَّاهِدِينَ</h2>
        <p>Wahai Tuhan kami, kami telah beriman dengan apa yang Kau telah turunkan dan kami telah mengikut RasulMu, maka tuliskanlah kami ini bersama-sama dengan orang yang bersaksi (dengan keesaanMu dan kebenaran RasulMu) (ali-‘Imran : 53)</p>
      </ion-item>

      <ion-item class="item-remove-animate">
        <div class="count">10</div>
        <h2>رَبَّنَا اغْفِرْ لَنَا ذُنُوبَنَا وَإِسْرَافَنَا فِي أَمْرِنَا وَثَبِّتْ أَقْدَامَنَا وَانْصُرْنَا عَلَى الْقَوْمِ الْكَافِرِينَ</h2>
        <p>Wahai Tuhan kami, ampunkanlah dosa-dosa kami dan perbuatan yang melampaui batas dalam urusan kami. Tetapkanlah tapak pendirian dan menangkanlah kami ke atas kaum yang kafir. (ali-‘Imran : 147)</p>
      </ion-item>

      <ion-item class="item-remove-animate">
        <div class="count">11</div>
        <h2>رَبَّنَا مَا خَلَقْتَ هَذَا بَاطِلًا سُبْحَانَكَ فَقِنَا عَذَابَ النَّار. رَبَّنَا إِنَّكَ مَنْ تُدْخِلِ النَّارَ فَقَدْ أَخْزَيْتَهُ وَمَا لِلظَّالِمِينَ مِنْ أَنْصَارٍ. رَبَّنَا إِنَّنَا سَمِعْنَا مُنَادِيًا يُنَادِي لِلْإِيمَانِ أَنْ آمِنُوا بِرَبِّكُمْ فَآمَنَّا رَبَّنَا فَاغْفِرْ لَنَا ذُنُوبَنَا وَكَفِّرْ عَنَّا سَيِّئَاتِنَا وَتَوَفَّنَا مَعَ الْأَبْرَارِ. رَبَّنَا وَآتِنَا مَا وَعَدْتَنَا عَلَى رُسُلِكَ وَلَا تُخْزِنَا يَوْمَ الْقِيَامَةِ إِنَّكَ لَا تُخْلِفُ الْمِيعَادَ.</h2>
        <p>Wahai Tuhan kami, tidaklah Kau jadikan benda-benda ini (langit dan bumi) dengan sia-sia, Maka Suci Engkau, maka selamatkanlah kami daripada azab neraka. Wahai Tuhan kami, siapa yang Kau masukkan dia ke dalam neraka, maka dia telah Kau hinakan dan tidak adalah penolong bagi orang-orang yang zalim itu. Wahai Tuhan kami, sesungguhnya kami telah dengar seorang penyeru (Rasul) yang menyeru kepada iman; katanya : “Berimanlah kamu kepada Tuhanmu”,  dan kami telah beriman, maka ampunkalah dosa-dosa kami dan tebuslah dosa-dosa kami (dengan kebaikan) serta matikanlah kami bersama-sama orang-orang yang baik. Wahai Tuhan kami, berikanlah kepada kami apa yang telah Kau janjikan kepada kami melalui para RasulMu dan janganlah Kau hinakan kami pada hari kiamat kelak. Sesungguhnya Kau tidak sekali-kali memungkiri janji. (ali-‘Imran 191-194).</p>
      </ion-item>

      <ion-item class="item-remove-animate">
        <div class="count">12</div>
        <h2>رَبَّنَا ظَلَمْنَا أَنْفُسَنَا وَإِنْ لَمْ تَغْفِرْ لَنَا وَتَرْحَمْنَا لَنَكُونَنَّ مِنَ الْخَاسِرِينَ</h2>
        <p>Wahai Tuhan kami, kami telah menzalimi diri kami dan jika Engkau tidak ampunkan kami dan rahmati kami, pastilah kami termasuk dari kalangan orang-orang yang rugi. (al-A’raaf : 23)</p>
      </ion-item>

      <ion-item class="item-remove-animate">
        <div class="count">13</div>
        <h2>رَبَّنَا أَفْرِغْ عَلَيْنَا صَبْرًا وَتَوَفَّنَا مُسْلِمِينَ</h2>
        <p>Wahai Tuhan kami, limpahkanlah sabar ke atas kami dan matikanlah kami sebagai Muslim. (al-A’raaf : 126)</p>
      </ion-item>

      <ion-item class="item-remove-animate">
        <div class="count">14</div>
        <h2>حَسْبِيَ اللَّهُ لَا إِلَهَ إِلَّا هُوَ عَلَيْهِ تَوَكَّلْتُ وَهُوَ رَبُّ الْعَرْشِ الْعَظِيمِ</h2>
        <p>Cukuplah Allah bagiku, tidak ada Tuhan selain Dia. KepadaNya aku serahkan urusanku dan Dialah Tuhan A’rasy yang Agung. (at-Taubah : 129)</p>
      </ion-item>

      <ion-item class="item-remove-animate">
        <div class="count">15</div>
        <h2>رَبَّنَا لَا تَجْعَلْنَا فِتْنَةً لِلْقَوْمِ الظَّالِمِينَ. وَنَجِّنَا بِرَحْمَتِكَ مِنَ الْقَوْمِ الْكَافِرِينَ</h2>
        <p>Wahai Tuhan kami, janganlah Kau jadikan kami ini ujian bagi orang-orang yang zalim (jangan biarkan mereka menguasai kami). Selamatkanlah kami dari kaum yang kafir. (Yunus : 85-86)</p>
      </ion-item>

      <ion-item class="item-remove-animate">
        <div class="count">16</div>
        <h2>رَبِّ إِنِّي أَعُوذُ بِكَ أَنْ أَسْأَلَكَ مَا لَيْسَ لِي بِهِ عِلْمٌ وَإِلَّا تَغْفِرْ لِي وَتَرْحَمْنِي أَكُنْ مِنَ الْخَاسِرِينَ</h2>
        <p>Wahai Tuhanku, aku berlindung denganMu dari meminta sesuatu yang aku tiada ilmu mengenainya. Jika Kau tidak ampunkan aku dan merahmatiku, pasti aku termasuk golongan orang-orang yang rugi. (Hud : 47)</p>
      </ion-item>

      <ion-item class="item-remove-animate">
        <div class="count">17</div>
        <h2>فَاطِرَ السَّمَاوَاتِ وَالْأَرْضِ أَنْتَ وَلِيِّي فِي الدُّنْيَا وَالْآخِرَةِ تَوَفَّنِي مُسْلِمًا وَأَلْحِقْنِي بِالصَّالِحِينَ</h2>
        <p>Pencipta langit dan bumi, Engkaulah pelindungku di dunia dan di akhirat; matikanlah aku sebagai seorang Muslim dan masukkanlah aku ke dalam golongan orang-orang yang soleh. (Yusuf : 101)</p>
      </ion-item>

      <ion-item class="item-remove-animate">
        <div class="count">18</div>
        <h2>رَبِّ اجْعَلْنِي مُقِيمَ الصَّلَاةِ وَمِنْ ذُرِّيَّتِي رَبَّنَا وَتَقَبَّلْ دُعَاءِ. رَبَّنَا اغْفِرْ لِي وَلِوَالِدَيَّ وَلِلْمُؤْمِنِينَ يَوْمَ يَقُومُ الْحِسَابُ</h2>
        <p>Wahai Tuhanku, jadikanlah aku seorang yang mendirikan solat dan demikianlah juga zuriatku. Wahai Tuhan kami, terimalah doa ini. Wahai Tuhan kami, ampunkanlah dosa-dosaku, kedua ibubapaku, dan seluruh orang-orang mukmin pada hari perhitungan kelak. (Ibrahim : 40-41)</p>
      </ion-item>

      <ion-item class="item-remove-animate">
        <div class="count">19</div>
        <h2>رَبِّ ارْحَمْهُمَا كَمَا رَبَّيَانِي صَغِيرًا</h2>
        <p>Wahai Tuhanku, rahmatilah kedua ibubapaku sebagaimana mereka menjagaku sewaktu aku kecil. (al-Isra’ : 24)</p>
      </ion-item>

      <ion-item class="item-remove-animate">
        <div class="count">20</div>
        <h2>رَبِّ أَدْخِلْنِي مُدْخَلَ صِدْقٍ وَأَخْرِجْنِي مُخْرَجَ صِدْقٍ وَاجْعَلْ لِي مِنْ لَدُنْكَ سُلْطَانًا نَصِيرًا</h2>
        <p>Wahai Tuhanku, masukkanlah aku ke dalam perkara yang baik untukku melalui kemasukan yang benar dan mulia, dan keluarkanlah aku dari urusan yang tidak baik bagiku melalui jalan keluar yang benar dan mulia serta berikanlah aku, dari sisiMu, kekuasaan yang membantu menguatkanku. (al-Isra’ : 80)</p>
      </ion-item>

      <ion-item class="item-remove-animate">
        <div class="count">21</div>
        <h2>رَبَّنَا آتِنَا مِنْ لَدُنْكَ رَحْمَةً وَهَيِّئْ لَنَا مِنْ أَمْرِنَا رَشَدًا</h2>
        <p>Wahai Tuhan kami, kurniakanlah kami rahmat dari sisiMu dan sediakanlah untuk kami petunjuk bagi urusan kami. (al-Kahfi : 10)</p>
      </ion-item>

      <ion-item class="item-remove-animate">
        <div class="count">22</div>
        <h2>رَبِّ إِنِّي وَهَنَ الْعَظْمُ مِنِّي وَاشْتَعَلَ الرَّأْسُ شَيْبًا وَلَمْ أَكُنْ بِدُعَائِكَ رَبِّ شَقِيًّا</h2>
        <p>Wahai Tuhanku, sesungguhnya telah lemahlah tulang-tulangku, dan telah putihlah kepalaku dengan uban, dan aku sekali-kali tidak akan hampa dan kecewa dengan doaku kepadaMu, wahai Tuhanku. (Maryam : 4)</p>
      </ion-item>

      <ion-item class="item-remove-animate">
        <div class="count">23</div>
        <h2>رَبِّ اشْرَحْ لِي صَدْرِي. وَيَسِّرْ لِي أَمْرِي. وَاحْلُلْ عُقْدَةً مِنْ لِسَانِي. يَفْقَهُوا قَوْلِي</h2>
        <p>Wahai Tuhanku, lapangkanlah dadaku, permudahkanlah urusanku, rungkaikanlah simpulan dari lidahku agar mereka memahami kata-kataku. (Taha : 25-28)</p>
      </ion-item>

      <ion-item class="item-remove-animate">
        <div class="count">24</div>
        <h2>رَبِّ زِدْنِي عِلْمًا</h2>
        <p>Wahai Tuhanku, tambahkanlah aku dengan ilmu. (Taha : 114)</p>
      </ion-item>

      <ion-item class="item-remove-animate">
        <div class="count">25</div>
        <h2>أَنِّي مَسَّنِيَ الضُّرُّ وَأَنْتَ أَرْحَمُ الرَّاحِمِينَ</h2>
        <p>Sesungguhnya kemudaratan telah menimpaku, Engkaulah yang paling menyayangi di antara mereka yang menyayangi. (al-Anbiyaa’ : 83)</p>
      </ion-item>

      <ion-item class="item-remove-animate">
        <div class="count">26</div>
        <h2>لَا إِلَهَ إِلَّا أَنْتَ سُبْحَانَكَ إِنِّي كُنْتُ مِنَ الظَّالِمِينَ</h2>
        <p>Tiada Tuhan selain Engkau, Maha Suci Engkau, sesungguhnya aku termasuk orang-orang yang zalim (berdosa). (al-Anbiyaa’ : 87)</p>
      </ion-item>

      <ion-item class="item-remove-animate">
        <div class="count">27</div>
        <h2>رَبِّ لَا تَذَرْنِي فَرْدًا وَأَنْتَ خَيْرُ الْوَارِثِينَ</h2>
        <p>Wahai Tuhanku, janganlah Kau biarkan aku seorang diri (dengan tidak meninggalkan zuriat), dan Kaulah jua sebaik-baik yang mewarisi. (al-Anbiyaa’ : 89)</p>
      </ion-item>

      <ion-item class="item-remove-animate">
        <div class="count">28</div>
        <h2>رَبِّ أَنْزِلْنِي مُنْزَلًا مُبَارَكًا وَأَنْتَ خَيْرُ الْمُنْزِلِينَ</h2>
        <p>Wahai Tuhanku, turunkanlah aku di tempat turun yang diberkati, Engkaulah sebaik-baik pemberi tempat. (al-Mu’minuun : 29)</p>
      </ion-item>

      <ion-item class="item-remove-animate">
        <div class="count">29</div>
        <h2>رَبِّ أَعُوذُ بِكَ مِنْ هَمَزَاتِ الشَّيَاطِينِ. وَأَعُوذُ بِكَ رَبِّ أَنْ يَحْضُرُونِ</h2>
        <p>Wahai Tuhanku, aku berlindung denganMu dari hasutan syaitan-syaitan dan aku berlindung denganMu supaya mereka tidak menghampiriku. (al-Mu’minuun : 97-98)</p>
      </ion-item>

      <ion-item class="item-remove-animate">
        <div class="count">30</div>
        <h2>رَبَّنَا آمَنَّا فَاغْفِرْ لَنَا وَارْحَمْنَا وَأَنْتَ خَيْرُ الرَّاحِمِينَ</h2>
        <p>Wahai Tuhan kami, kami telah beriman maka ampunkanlah kami dan rahmatilah kami. Engkaulah sebaik-baik yang merahmati. (al-Mu’minuun : 109)</p>
      </ion-item>

      <ion-item class="item-remove-animate">
        <div class="count">31</div>
        <h2>رَبِّ اغْفِرْ وَارْحَمْ وَأَنْتَ خَيْرُ الرَّاحِمِينَ</h2>
        <p>Wahai Tuhanku, ampunkanlah dan rahmatilah. Dan Engkaulah sebaik-baik yang merahmati. (al-Mu’minuun : 118)</p>
      </ion-item>

      <ion-item class="item-remove-animate">
        <div class="count">31</div>
        <h2>رَبَّنَا اصْرِفْ عَنَّا عَذَابَ جَهَنَّمَ إِنَّ عَذَابَهَا كَانَ غَرَامًا</h2>
        <p>Wahai Tuhan kami, jauhkanlah azab neraka dari kami, sesungguhnya azabnya itu berpanjangan, tidak akan hilang. (al-Furqan : 65)</p>
      </ion-item>

      <ion-item class="item-remove-animate">
        <div class="count">32</div>
        <h2>رَبَّنَا هَبْ لَنَا مِنْ أَزْوَاجِنَا وَذُرِّيَّاتِنَا قُرَّةَ أَعْيُنٍ وَاجْعَلْنَا لِلْمُتَّقِينَ إِمَامًا</h2>
        <p>Wahai Tuhan kami, jadikanlah pasangan kami dan zuriat kami penyejuk mata bagi kami, dan jadikanlah kami pemimpin bagi orang-orang yang bertaqwa. (al-Furqan : 74)</p>
      </ion-item>

      <ion-item class="item-remove-animate">
        <div class="count">33</div>
        <h2>رَبِّ هَبْ لِي حُكْمًا وَأَلْحِقْنِي بِالصَّالِحِينَ. وَاجْعَلْ لِي لِسَانَ صِدْقٍ فِي الْآخِرِينَ. وَاجْعَلْنِي مِنْ وَرَثَةِ جَنَّةِ النَّعِيمِ. وَاغْفِرْ لِأَبِي إِنَّهُ كَانَ مِنَ الضَّالِّينَ. وَلَا تُخْزِنِي يَوْمَ يُبْعَثُونَ. يَوْمَ لَا يَنْفَعُ مَالٌ وَلَا بَنُونَ. إِلَّا مَنْ أَتَى اللَّهَ بِقَلْبٍ سَلِيمٍ.</h2>
        <p>Wahai Tuhanku, kurniakanlah aku ilmu pengetahuan dan masukkanlah aku ke dalam golongan orang-orang yang soleh. Dan jadikanlah bagiku sebutan yang baik di kalangan orang-orang yang dating kemudian. Dan jadikanlah aku dari kalangan orang-orang yang mewarisi Syurga Na’im. Dan ampunkanlah bapaku, sesungguhnya dia termasuk golongan orang-orang yang sesat. Janganlah Kau hinakan aku pada hari manusia dibangkitkan. Hari di mana harta dan anak tidak berguna; kecuali dia yang datang kepada Allah dengan hati yang sejahtera. (al-Syu’araa’ : 83-89)</p>
      </ion-item>

      <ion-item class="item-remove-animate">
        <div class="count">34</div>
        <h2>ربِّ أَوْزِعْنِي أَنْ أَشْكُرَ نِعْمَتَكَ الَّتِي أَنْعَمْتَ عَلَيَّ وَعَلَى وَالِدَيَّ وَأَنْ أَعْمَلَ صَالِحًا تَرْضَاهُ وَأَدْخِلْنِي بِرَحْمَتِكَ فِي عِبَادِكَ الصَّالِحِينَ</h2>
        <p>Wahai Tuhanku, ilhamkanlah aku supaya tetap bersyukur di atas nikmatMu yang telah Kau kurniakan kepadaku dan kedua ibubapaku; dan supaya aku tetap melakukan amal soleh yang Kau redhai serta masukkanlah aku, dengan rahmatMu, ke dalam golongan hambaMu yang soleh. (al-Naml : 19)</p>
      </ion-item>

      <ion-item class="item-remove-animate">
        <div class="count">35</div>
        <h2>رَبِّ إِنِّي ظَلَمْتُ نَفْسِي فَاغْفِرْ لِي</h2>
        <p>Wahai Tuhanku, sesungguhnya aku telah menzalimi diriku maka ampunkanlah aku. (al-Qasas : 16)</p>
      </ion-item>

      <ion-item class="item-remove-animate">
        <div class="count">36</div>
        <h2>رَبِّ انْصُرْنِي عَلَى الْقَوْمِ الْمُفْسِدِينَ</h2>
        <p>Wahai Tuhanku, tolonglah aku terhadap kaum yang melakukan kerosakan. (al-‘Ankabuut : 30)</p>
      </ion-item>

      <ion-item class="item-remove-animate">
        <div class="count">37</div>
        <h2>رَبَّنَا اكْشِفْ عَنَّا الْعَذَابَ إِنَّا مُؤْمِنُونَ</h2>
        <p>Wahai Tuhan kami, hapuskanlah azab ini dari kami sesungguhnya kami beriman. (al-Dukhan : 12)</p>
      </ion-item>

      <ion-item class="item-remove-animate">
        <div class="count">38</div>
        <h2>رَبِّ أَوْزِعْنِي أَنْ أَشْكُرَ نِعْمَتَكَ الَّتِي أَنْعَمْتَ عَلَيَّ وَعَلَى وَالِدَيَّ وَأَنْ أَعْمَلَ صَالِحًا تَرْضَاهُ وَأَصْلِحْ لِي فِي ذُرِّيَّتِي إِنِّي تُبْتُ إِلَيْكَ وَإِنِّي مِنَ الْمُسْلِمِينَ</h2>
        <p>Wahai Tuhanku, ilhamkanlah aku supaya tetap bersyukur di atas nikmatMu yang telah Kau kurniakan kepadaku dan kedua ibubapaku, dan supaya aku tetap melakukan amal soleh yang Kau redhai, dan perelokkanlah zuriatku untukku. Sesungguhnya aku bertaubat kepadaMu dan aku adalah dari kalangan orang Muslim. (al-Ahqaf : 15)</p>
      </ion-item>

      <ion-item class="item-remove-animate">
        <div class="count">39</div>
        <h2>رَبَّنَا اغْفِرْ لَنَا وَلِإِخْوَانِنَا الَّذِينَ سَبَقُونَا بِالْإِيمَانِ وَلَا تَجْعَلْ فِي قُلُوبِنَا غِلًّا لِلَّذِينَ آمَنُوا رَبَّنَا إِنَّكَ رَءُوفٌ رَحِيمٌ</h2>
        <p>Wahai Tuhan kami, ampunkanlah kami dan saudara-saudara kami yang telah mendahului kami dalam iman, dan janganlah Kau jadikan dalam hati-hati kami perasaan hasad dengki dan dendam terhadap orang-orang yang beriman. Wahai Tuhan kami, sesungguhnya Kau yang amat Baik dan Penyayang. (al-Hashr : 10)</p>
      </ion-item>

      <ion-item class="item-remove-animate">
        <div class="count">40</div>
        <h2>رَبَّنَا عَلَيْكَ تَوَكَّلْنَا وَإِلَيْكَ أَنَبْنَا وَإِلَيْكَ الْمَصِيرُ. رَبَّنَا لَا تَجْعَلْنَا فِتْنَةً لِلَّذِينَ كَفَرُوا وَاغْفِرْ لَنَا رَبَّنَا إِنَّكَ أَنْتَ الْعَزِيزُ الْحَكِيمُ</h2>
        <p>Wahai Tuhan kami, kepadaMu kami bertawakal dan kepadaMu kami kembali bertaubat dan kepadaMu jua tempat kembali kami. Wahai Tuhan kami, janganlah Kau jadikan kami fitnah ke atas prang-orang kafir. Ampunkanlah kami wahai Tuhan kami sesungguhnya Engkau yang Maha Perkasa lagi Maha Bijaksana. (al-Mumtahanah : 4-5)</p>
      </ion-item>

      <ion-item class="item-remove-animate">
        <div class="count">41</div>
        <h2>رَبَّنَا أَتْمِمْ لَنَا نُورَنَا وَاغْفِرْ لَنَا إِنَّكَ عَلَى كُلِّ شَيْءٍ قَدِيرٌ</h2>
        <p>Wahai Tuhan kami, sempurnakanlah bagi kami cahaya kami dan ampunkanlah kami sesungguhnya Engkau berkuasa di atas segala sesuatu. (al-Tahrim : 8)</p>
      </ion-item>

      <ion-item class="item-remove-animate">
        <div class="count">42</div>
        <h2>رَبِّ ابْنِ لِي عِنْدَكَ بَيْتًا فِي الْجَنَّةِ</h2>
        <p>Wahai Tuhanku, binakanlah untukku di sisiMu sebuah rumah di syurga. (al-Tahrim : 11)</p>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
