<ion-view view-title="Fidyah">
    <ion-content>
    	<div class="card content">
	        <div class="item item-head">Taksiran Fidyah</div>
	        <p>Maksud Fidyah ialah satu cupak makanan asasi tempatan yang disedekahkan kepada fakir miskin mewakilli satu hari yang tertinggal puasa Ramadhan padanya. Makanan asasi masyarakat Malaysia adalah beras, maka wajib menyedekahkan secupak beras kepada fakir miskin bagi mewakili sehari puasa. Ukuran secupak beras secara lebih kurang sebanyak 670gram. Contohnya sipulan telah meninggalkan puasanya sebanyak 5 hari, maka dia wajib membayar Fidyahnya sebanyak 5 cupak beras kepada fakir miskin.</p>
	        <p>Fidyah dikenakan kepada orang yang tidak mampu berpuasa dan memang tidak boleh berpuasa lagi. Maka dengan itu Islam telah memberikan keringanan (rukshoh) kepada mereka yang tidak boleh berpuasa dengan cara membayar Fidyah iaitu memberikan secupak beras kepada orang fakir miskin. Begitu juga kepada orang yang meninggalkan puasa dan tidak menggantikan puasanya sehingga menjelang puasa Ramadhan kembali (setahun), maka dengan itu mereka dikehendaki berpuasa dan juga wajib memberikan secupak beras kepada fakir miskin. Begitu juga pada tahun seterusnya. Fidyah akan naik setiap tahun selagi mana orang tersebut tidak menggantikan puasanya.</p>
	    </div>
	    <div class="card content">
        	<div class="item item-head">Sebab dikenakan Fidyah</div>
        	<ul class="content">
        		<li>
        			<strong>Uzur menunaikan puasa wajib</strong>
        			<p>Terdiri daripada golongan yang menghidapi sakit kuat dan tidak mempunyai harapan untuk sembuh, atau golongan tua yang tidak mampu berpuasa atau kedua-duanya sekali</p>
        		</li>
        		<li>
        			<strong>Perempuan Hamil</strong>
        			<p>Dengan syarat dibimbangi akan keselamatan ke atas bayi yang dikandungnya seperti dikhuatiri berlaku keguguran. Golongan ini dikenakan membayar fidyah dan juga menggantikan (qada’) puasa yang ditinggalkan. </p>
        		</li>
        		<li>
        			<strong>Ibu yang menyusukan anak</strong>
        			<p>Dengan syarat ibu yang merasa bimbang akan memudharatkan bayi yang disusuinya seperti kurang air susu atau menjejaskan kesihatan bayinya itu. Maka baginya menggantikan puasa yang ditinggalkan serta membayar fidyah. </p>
        		</li>
        		<li>
        			<strong>Orang yang telah meninggal dunia</strong>
        			<p>Hutang puasa bagi mereka yang telah meninggal dunia hendaklah disempurnakan bayaran fidyahnya oleh waris-warisnya mengikut bilangan hari yang ditinggalkan sebelum pembahagian pusaka dibuat. </p>
        		</li>
        		<li>
        			<strong>Melambatkan Ganti Puasa (Qada')</strong>
        			<p>Mereka yang melambatkan ganti puasanya hingga telah melangkah tahun yang berikutnya (bulan Ramadhan), dikenakan denda membayar fidyah dan juga wajib menggantikan (qada’) puasa yang ditinggalkan. Bayaran fidyah akan berganda mengikut jumlah tahun-tahun yang ditinggalkan.</p>
        		</li>
        	</ul>
      	</div>
      	<div class="card content">
        	<div class="item item-head">Taksiran Fidyah</div>
        	<p>(Hari yang ditinggalkan) X (Tahun gandaan) X (1 Cupak) = FIDYAH</p>
      	</div>
    </ion-content>
</ion-view>
