<ion-view view-title="Makruh">
    <ion-content>
    	<div class="card content">
	        <div class="item item-head">Perkara Makruh Puasa</div>
	        <ul class="content">
				<li>
					Berkumur-kumur dan memasukkan air ke dalam hidung ketika berwuduk secara berlebih-lebihan kerana dibimbangi air tersebut akan masuk ke rongga.
				</li>
				<li>
					Bagi suami isteri yang berada pada peringkat usia muda, adalah makruh mencium isteri kerana takuti akan merangsang naluri dan membawa kepada perkara yang membatalkan puasa.
				</li>
				<li>
					Makruh bersiwak (berus gigi) selepas gelincir matahari menurut Imam asy-Syafie dan Ahmad.
				</li>
				<li>Merasai makanan tanpa keperluan. Jika ada keperluan, si tukang masak boleh merasai makanannya supaya tidak menyakiti orang yang dijamunya. Tetapi perlu berhati-hati supaya makanan tersebut tidak masuk ke dalam rongganya</li>
	        </ul>
	    </div>
    </ion-content>
</ion-view>
