<ion-view view-title="Niat">
    <ion-content>
      <div class="card content">
        <div class="item item-head">Lafaz dan Niat</div>
        <p>
          Tidak wajib dan tidak juga sunat berniat dalam bahasa Arab, memadai dalam bahasa Melayu atau apa-apa bahasa yang kita fahami. Tetapi baik dan berpahala jika diamalkan dalam bahasa Arab dengan niat kita cinta kepada bahasa Arab sebagai bahasa Nabi Muhammad s.a.w. dan bahasa Al-Quran.
        </p>
        <ol class="content">
          <li>
          	<strong>Sehari</strong>
          	<p class="arab">نَوَيْتُ صَوْمَ غَدٍ عَنْ أَدَاءِ فَرْضِ رَمَضَانَ هَذِهِ السَّنَةِ لِلَّهِ تَعَالَى</p>
          	<p>Sahaja aku puasa esok hari bagi menunaikan puasa Ramadhan tahun ini kerana Allah Taala.</p>
          </li>
          <li>
          	<strong>Sebulan</strong>
          	<p class="arab">ﻧَﻮَﻳْﺖُ ﺻَﻮْﻡَ ﺷَﻬْﺮِ ﺭَﻣَﻀَﺎﻥَ كُلِّهِ ﻟِﻠَّﻪِ ﺗَﻌَﺎﻟَﻰ</p>
            <p>Sahaja aku berpuasa sebulan Ramadhan tahun ini kerana Allah Taala.</p>
          </li>
        </ol>
      </div>
    </ion-content>
</ion-view>
