<ion-view view-title="Qadha">
    <ion-content>
    	<div class="card content">
	        <div class="item item-head">Qadha Puasa</div>
	        <p>Seseorang yang meninggalkan puasa Ramadhan kerana uzur atau tanpa uzur, wajib qadha’ puasanya di luar bulan Ramadhan.</p>
	        <p>Seseorang yang melambatkan qadha’ puasanya kerana uzur syarie’ yang berterusan, seperti dia masih musafir atau sakitnya berterusan hingga ke Ramadhan tahun berikutnya di mana tiada ruang langsung untuk mengqadha’kan puasa tersebut, hukumnya harus dia melewatkan qadha’ dan tidak wajib membayar fidyah sekalipun ia telah melangkau beberapa Ramadhan. Cuma wajib ke atasnya qadha’ bilangan hari-hari puasa yang ia tinggalkan.</p>
	        <p>Sunat menyegerakan qadha’ puasa bagi mereka yang meninggalkannya kerana uzur syarie’. Bagi mereka yang meninggalkan puasa tanpa uzur syarie’maka: pendapat pertama: Wajib disegerakan dan tidak boleh bertangguh; pendapat kedua: boleh dilambatkan dan ini pandangan kuat di sisi ulama-ulama Mazhab asy-Syafie di Iraq. Pendapat pertama adalah pandangan sahih yang dipilih oleh Imam an-Nawawi.</p>
	        <p>Qadha’ puasa tidak boleh dilakukan pada hari- hari bulan Ramadhan, Hari Raya Puasa, Hari Raya Korban dan hari-hari Tasyriq.</p>
	    </div>
    </ion-content>
</ion-view>
