<ion-view view-title="Perkara Sunat Puasa">
    <ion-content>
    	<div class="card content">
	        <div class="item item-head">Perkara Sunat Puasa</div>
	        <p>Perkara-perkara berikut disunatkan ketika berpuasa:</p>
	        <ul class="content">
				<li>
					Makan sahur serta melambatkannya
				</li>
				<li>
					Menyegerakan berbuka dan sunat berbuka dengan buah kurma atau benda-benda yang manis atau air
				</li>
				<li>
					Menjamu orang-orang berbuka puasa
				</li>
				<li>
					Solat Tarawih pada malam harinya
				</li>
				<li>
					Memperbanyakkan ibadah dan berbuat kebaikan
				</li>
				<li>
					Berungguh-sungguh dan tekun berjaga malam pada 10 malam terakhir Ramadhan untuk mendapatkan malam al-Qadar atau Lailatul Qadar.
				</li>
	        </ul>
	    </div>
    </ion-content>
</ion-view>
