<ion-view view-title="Syarat Wajib Puasa">
    <ion-content>
    	<div class="card content">
	        <div class="item item-head">Syarat-syarat Wajib Puasa</div>
	        <ol class="content">
				<li>
					<strong>Islam</strong></br>
					Tidak diwajibkan kepada orang kafir
				</li>
				<li>
					<strong>Baligh</strong></br>
					Tidak diwajibkan ke atas kanak-kanak yang belum sampai umur baligh. Walau bagaimanapun kanak-kanak digalakkan berpuasa.
				</li>
				<li>
					<strong>Berakal</strong></br>
					Tidak diwajibkan puasa bagi orang gila.
				</li>
				<li>
					<strong>Berkemampuan</strong></br> 
					Tidak wajib berpuasa ke atas orang yang tidak berdaya berpuasa seperti orang sakit, musafir, orang tua dan sebagainya.
				</li>
	        </ol>
	    </div>
    </ion-content>
</ion-view>
