<ion-view view-title="Keuzuran">
    <ion-content>
    	<div class="card content">
	        <div class="item item-head">Keuzuran menegah sahnya puasa</div>
	        <p>
	          Maksud keuzuran yang menegah sahnya puasa ialah perkara-perkara yang menyebabkan puasa tidak sah atau terbatal, oleh itu bagi orang yang berlaku kepadanya perkara tersebut ia diberi kelonggaran untuk tidak berpuasa, malah jika berpuasa sekalipun puasanya tidak sah dan jika ia sedang berpuasa, puasanya akan terbatal dengan sendiri. Keuzuran-keuzuran yang dimaksudkan itu ialah :
	        </p>
	        <ul class="content">
	          <li>
	          	<strong>Kedatangan haid atau nifas</strong>
	            <p>Wanita yang sedang haid atau nifas tidak wajib berpuasa kerana puasanya tidak sah. Jika haid datang ketika ia sedang berpuasa, puasanya terbatal dengan sendiri. Wajib ganti puasa</p>
	          </li>
	          <li>
	          	<strong>Gila</strong>
	            <p>Niat, orang yang berpuasa mengqasadkan niat di dalam hati untuk berpuasa sebagai bentuk ibadah kepada Allah S.W.T. Niat membezakan setiap amalan yang dimaksudkan untuk ibadat daripada perkara lain. Tidak wajib berpuasa.</p>
	          </li>
	          <li>
	          	<strong>Pengsan di sepanjang hari penuh</strong></br>
	            <p>Orang yang pengsan sehari penuh (yakni dari mula terbit fajar hingga terbenam matahari) puasa hari itu terbatal sekalipun ia berniat pada malamnya dan pada siangnya ia tidak melakukan sebarang perkara yang membatalkan puasa. Wajib ganti puasa.</p>
	            <p> Namun jika ia tersedar pada mana-mana waktu di siang hari, hilang keuzurannya dan ia wajib berpuasa pada waktu yang masih tinggal dan puasanya dikira sah.</p>
	          </li>
	        </ul>
	    </div>
	    <div class="card content">
	        <div class="item item-head">Keuzuran mengharuskan berbuka puasa</div>
	        <p>
	          Maksud keuzuran yang mengharuskan berbuka puasa ialah perkara-perkara yang mengharuskan seseorang untuk tidak berpuasa, yakni ia diberi kelonggaran oleh Syarak untuk meninggalkan puasa walaupun jika ia berpuasa puasanya sah dan diterima. Keuzuran-keuzuran tersebut ialah :
	        </p>
	        <ul class="content">
	          <li>
	          	<strong>Sakit</strong>
	            <p>Orang yang sakit di mana puasa mendatangkan kepayahan baginya atau boleh menambah kesakitan atau menyebabkan lambat sembuh, harus baginya berbuka puasa. Jika dibimbangi boleh membawa maut, wajiblah ia berbuka. Begitu juga, harus berbuka bagi orang sihat jika dengan berpuasa dibimbangi akan menimbulkan penyakit.</p>
	          </li>
	          <li>
	          	<strong>Musafir</strong>
	            <p>Orang yang berada perjalanan atau permusafiran dan jarak perjalanannya mengharuskan qasar dan jamak, harus ia berbuka puasa, namun mengekalkan puasa adalah lebih baik.</p>
	          </li>
	          <li>
	          	<strong>Tidak mampu berpuasa</strong>
	            <p>Sama ada kerana tua atau kerana sakit yang tidak ada lagi harapan untuk sembuh atau kerana hamil atau menyusukan anak, dan sebagainya.</p>
	          </li>
	        </ul>
	    </div>
    </ion-content>
</ion-view>
