<ion-view view-title="Definisi">
    <ion-content>
    	<div class="card content">
	        <div class="item item-head">Zakat Fitrah</div>
	        <p>Zakat Fitrah ialah zakat diri yang diwajibkan atas diri setiap individu lelaki dan perempuan muslim yang berkemampuan dengan syarat-syarat yang ditetapkan. Kata Fitrah yang ada merujuk pada keadaan manusia saat baru diciptakan sehingga dengan mengeluarkan zakat ini manusia dengan izin Allah akan kembali fitrah.</p>

	        <div class="item item-head">Kadar Zakat</div>
	        <p>Secupak daripada makanan rasmi sesebuah negara. Sesetengah ulama seperti Imam Abu Hanifah berpendapat, harus mengeluarkan zakat fitrah dengan nilai secupak makanan tersebut sekiranya ia lebih bermanfaat kepada fakir miskin seperti dengan nilai ringgit dan sebagainya.</p>
	    </div>
    </ion-content>
</ion-view>
