<ion-view view-title="Kadar">
  <ion-content>
    <div class="list zakat-kadar">
        <div class="item item-kadar row" href="#">
          <div class="col flag"><img src="img/flag-perlis.png"></div>
          <div class="col col-50">Perlis</div>
          <div class="col">RM6.50</div>
        </div>

        <div class="item item-kadar row" href="#">
          <div class="col flag"><img src="img/flag-kedah.png"></div>
          <div class="col col-50">Kedah</div>
          <div class="col">RM7.00</div>
        </div>

        <div class="item item-kadar row" href="#">
          <div class="col flag"><img src="img/flag-penang.png"></div>
          <div class="col col-50">Pulau Pinang</div>
          <div class="col">RM7.00</div>
        </div>

        <div class="item item-kadar row" href="#">
          <div class="col flag"><img src="img/flag-perak.png"></div>
          <div class="col col-50">Perak</div>
          <div class="col">RM7.00</div>
        </div>

        <div class="item item-kadar row" href="#">
          <div class="col flag"><img src="img/flag-selangor.png"></div>
          <div class="col col-50">Selangor</div>
          <div class="col">RM7.00</div>
        </div>

        <div class="item item-kadar row" href="#">
          <div class="col flag"><img src="img/flag-ns.png"></div>
          <div class="col col-50">Negeri Sembilan</div>
          <div class="col">RM6.50</div>
        </div>

        <div class="item item-kadar row" href="#">
          <div class="col flag"><img src="img/flag-melaka.png"></div>
          <div class="col col-50">Melaka</div>
          <div class="col">RM6.70</div>
        </div>

        <div class="item item-kadar row" href="#">
          <div class="col flag"><img src="img/flag-johor.png"></div>
          <div class="col col-50">Johor</div>
          <div class="col">RM5.00/8.00</div>
        </div>

        <div class="item item-kadar row" href="#">
          <div class="col flag"><img src="img/flag-pahang.png"></div>
          <div class="col col-50">Pahang</div>
          <div class="col">RM7.00</div>
        </div>

        <div class="item item-kadar row" href="#">
          <div class="col flag"><img src="img/flag-terengganu.png"></div>
          <div class="col col-50">Terengganu</div>
          <div class="col">RM7.60/7.00/4.50</div>
        </div>
        <div class="item item-kadar row" href="#">
          <div class="col flag"><img src="img/flag-kelantan.png"></div>
          <div class="col col-50">Kelantan</div>
          <div class="col">RM7.00</div>
        </div>
        <div class="item item-kadar row" href="#">
          <div class="col flag"><img src="img/flag-sarawak.png"></div>
          <div class="col col-50">Sarawak</div>
          <div class="col">RM7.00</div>
        </div>
        <div class="item item-kadar row" href="#">
          <div class="col flag"><img src="img/flag-sabah.png"></div>
          <div class="col col-50">Sabah</div>
          <div class="col">RM7.00</div>
        </div>
        <div class="item item-kadar row" href="#">
          <div class="col flag"><img src="img/flag-kl.png"></div>
          <div class="col col-50">Wilayah Persekutuan</div>
          <div class="col">RM7.00</div>
        </div>
      </div>
    
  </ion-content>
</ion-view>
