<ion-view view-title="Lafaz">
    <ion-content>
    	<div class="card content">
	        <div class="item item-head">Lafaz Akad Zakat Fitrah</div>
	        <p>Lafaz akad zakat fitrah dibahagikan kepada tiga bahagian. Antaranya ialah :</p>
	        <ol class="content">
				<li>
					<strong>Lafaz akad untuk diri sendiri</strong></br>
					“Inilah wang bagi menggantikan beras fitrah yang wajib ke atas diriku pada tahun ini kerana Allah Ta’ala.”
				</li>
				<li>
					<strong>Lafaz akad untuk diri sendiri dan tanggungan</strong></br>
					“Inilah wang bagi menggantikan beras fitrah yang wajib ke atas diriku dan tanggunganku pada tahun ini kerana Allah Ta’ala.”
				</li>
				<li>
					<strong>Lafaz bagi pihak</strong></br>
					“Inilah wang bagi menggantikan beras fitrah yang wajib ke atas pihak yang aku wakili …… pada tahun ini kerana Allah Ta’ala.”
				</li>
	        </ol>
	    </div>
    </ion-content>
</ion-view>
