<ion-view view-title="Syarat Wajib Zakat">
    <ion-content>
		<div class="card content">
    		<h3 class="item item-head">Yang berkewajipan membayar</h3>
    		<ul class="content">
    			<li>Individu yang mempunyai kelebihan makanan atau hartanya dari keperluan tanggungannya pada malam dan pagi hari raya.</li>
    			<li>Anak yang lahir sebelum matahari jatuh pada akhir bulan Ramadan dan hidup selepas terbenam matahari.</li>
    			<li>Memeluk Islam sebelum terbenam matahari pada akhir bulan Ramadan dan tetap dalam Islamnya.</li>
    			<li>Seseorang yang meninggal selepas terbenam matahari akhir Ramadan.</li>
    		</ul>
    	</div>
    </ion-content>
</ion-view>
