<ion-view view-title="Waktu">
    <ion-content>
    	<div class="card content">
	        <div class="item item-head">Waktu Bayaran Zakat Fitrah</div>
	        <p>Waktu untuk membayar zakat fitrah ialah apabila bermulanya bulan ramadan sehingga pagi hari raya puasa sebelum sembahyang sunat aidilfitri. Bayaran fitrah hendaklah dibayar kepada amil-amil yang ditauliahkan oleh Majlis Agama Islam Negeri.</p>
	        <ol class="content">
				<li>
					<strong>Waktu Harus</strong> : Bermula dari awal bulan ramadhan hingga akhir bulan ramadhan.
				</li>
				<li>
					<strong>Waktu Afdal</strong> : Selepas sembahyang subuh pada hari akhir ramadhan sehingga sebelum sembahyang sunat hari raya aidilfitri.
				</li>
				<li>
					<strong>Waktu Wajib</strong> : Selepas terbenam matahari pada akhir bulan ramadhan.
				</li>
				<li>
					<strong>Waktu Haram</strong> : Selepas terbenam matahari pada hari raya aidilfitri
				</li>
				<li>
					<strong>Waktu Makruh</strong> : Selepas sembahyang sunat aidilfitri sehingga sebelum terbenamnya matahari pada hari tersebut.
				</li>
	        </ol>
	    </div>
    </ion-content>
</ion-view>
