<ion-view view-title="Waktu">
    <ion-content>
    	<div class="card content">
	        <div class="item item-head">Waktu Bayaran Zakat Fitrah</div>
	        <p>Waktu untuk membayar zakat fitrah ialah apabila bermulanya bulan ramadan sehingga pagi hari raya puasa sebelum sembahyang sunat aidilfitri. Bayaran fitrah hendaklah dibayar kepada amil-amil yang ditauliahkan oleh Majlis Agama Islam Negeri.</p>
	        <ol class="content">
				<li>
					<strong>Waktu Harus</strong>
					<p>Bermula dari awal bulan ramadhan hingga akhir bulan ramadhan.</p>
				</li>
				<li>
					<strong>Waktu Afdal</strong>
					<p>Selepas sembahyang subuh pada hari akhir ramadhan sehingga sebelum sembahyang sunat hari raya aidilfitri.</p>
				</li>
				<li>
					<strong>Waktu Wajib</strong>
					<p>Selepas terbenam matahari pada akhir bulan ramadhan.</p>
				</li>
				<li>
					<strong>Waktu Haram</strong>
					<p>Selepas terbenam matahari pada hari raya aidilfitri</p>
				</li>
				<li>
					<strong>Waktu Makruh</strong>
					<p>Selepas sembahyang sunat aidilfitri sehingga sebelum terbenamnya matahari pada hari tersebut.</p>
				</li>
	        </ol>
	    </div>
    </ion-content>
</ion-view>
