<ion-view view-title="Pahang">
  <ion-content>
    <div class="tab-header">
      <div class="row">
        <div class="col align-center">
            <img class="flag" height="49" src="img/flag-pahang@3x.png">
        </div>
      </div>
    </div>
    <div class="list list-zones">
        <a class="item item-icon-right row" href="#/tab/waktu/pahang/1">
          <div class="col col-20 zon">Zon 1</div>
          <div class="col col-50 area">Pulau Tioman</div>
           <i class="icon ion-chevron-right icon-accessory"></i>
        </a>
        <a class="item item-icon-right row" href="#/tab/waktu/pahang/2">
          <div class="col col-20 zon">Zon 2</div>
          <div class="col col-50 area">Kuantan, Pekan, Rompin, Muadzam Shah</div>
           <i class="icon ion-chevron-right icon-accessory"></i>
        </a>
        <a class="item item-icon-right row" href="#/tab/waktu/pahang/3">
          <div class="col col-20 zon">Zon 3</div>
          <div class="col col-50 area">Maran, Chenor, Temerloh, Bera, Jerantut</div>
           <i class="icon ion-chevron-right icon-accessory"></i>
        </a>
        <a class="item item-icon-right row" href="#/tab/waktu/pahang/4">
          <div class="col col-20 zon">Zon 4</div>
          <div class="col col-50 area">Bentong, Raub, Kuala Lipis</div>
           <i class="icon ion-chevron-right icon-accessory"></i>
        </a>
        <a class="item item-icon-right row" href="#/tab/waktu/pahang/5">
          <div class="col col-20 zon">Zon 5</div>
          <div class="col col-50 area">Genting Sempah, Janda Baik, Bukit Tinggi</div>
           <i class="icon ion-chevron-right icon-accessory"></i>
        </a>
        <a class="item item-icon-right row" href="#/tab/waktu/pahang/6">
          <div class="col col-20 zon">Zon 6</div>
          <div class="col col-50 area">Bukit Fraser, Genting Higlands, Cameron Higlands</div>
           <i class="icon ion-chevron-right icon-accessory"></i>
        </a>
     </div>
  </ion-content>
</ion-view>
