<ion-view view-title="Perlis">
    <ion-content>
    <div class="tab-header">
      <div class="row">
        <div class="col align-center">
            <p>Bagi seluruh Negeri Perlis</p>
        </div>
      </div>
    </div>
    <ion-list class="list list-waktu">
    	<ion-item class="row item-divider">
    		<div class="col ramadhan">Hari</div>
    		<div class="col date">Tarikh</div>
    		<div class="col col-20 imsak">Imsak</div>
    		<div class="col col-20 berbuka">Iftar</div>
    	</ion-item>
    	<ion-item class="row">
    		<div class="col ramadhan">1</div>
    		<div class="col date">18 Jun</div>
    		<div class="col col-20 imsak">5:30 AM</div>
    		<div class="col col-20 berbuka">7:36 PM</div>
    	</ion-item>
    	<ion-item class="row">
    		<div class="col ramadhan">2</div>
    		<div class="col date">19 Jun</div>
    		<div class="col col-20 imsak">5:31 AM</div>
    		<div class="col col-20 berbuka">7:36 PM</div>
    	</ion-item>
    	<ion-item class="row">
    		<div class="col ramadhan">3</div>
    		<div class="col date">20 Jun</div>
    		<div class="col col-20 imsak">5:31 AM</div>
    		<div class="col col-20 berbuka">7:36 PM</div>
    	</ion-item>
    	<ion-item class="row">
    		<div class="col ramadhan">4</div>
    		<div class="col date">21 Jun</div>
    		<div class="col col-20 imsak">5:31 AM</div>
    		<div class="col col-20 berbuka">7:36 PM</div>
    	</ion-item>
    	<ion-item class="row">
    		<div class="col ramadhan">5</div>
    		<div class="col date">22 Jun</div>
    		<div class="col col-20 imsak">5:31 AM</div>
    		<div class="col col-20 berbuka">7:37 PM</div>
    	</ion-item>
    	<ion-item class="row">
    		<div class="col ramadhan">6</div>
    		<div class="col date">23 Jun</div>
    		<div class="col col-20 imsak">5:32 AM</div>
    		<div class="col col-20 berbuka">7:37 PM</div>
    	</ion-item>
    	<ion-item class="row">
    		<div class="col ramadhan">7</div>
    		<div class="col date">24 Jun</div>
    		<div class="col col-20 imsak">5:32 AM</div>
    		<div class="col col-20 berbuka">7:37 PM</div>
    	</ion-item>
    	<ion-item class="row">
    		<div class="col ramadhan">8</div>
    		<div class="col date">25 Jun</div>
    		<div class="col col-20 imsak">5:32 AM</div>
    		<div class="col col-20 berbuka">7:37 PM</div>
    	</ion-item>
    	<ion-item class="row">
    		<div class="col ramadhan">9</div>
    		<div class="col date">26 Jun</div>
    		<div class="col col-20 imsak">5:32 AM</div>
    		<div class="col col-20 berbuka">7:37 PM</div>
    	</ion-item>
	</ion-list>
    </ion-content>
</ion-view>
