<ion-view view-title="Perlis">
    <ion-content>
    <div class="tab-header">
      <div class="row">
        <div class="col align-center">
            <img class="flag" height="49" src="img/flag-perlis.svg">
            <p>Bagi seluruh Negeri Perlis</p>
        </div>
      </div>
    </div>
    <ion-list class="list list-waktu">
    	<ion-item class="row item-divider">
    		<div class="col ramadhan">Hari</div>
    		<div class="col date">Tarikh</div>
    		<div class="col col-20 imsak">Imsak</div>
    		<div class="col col-20 berbuka">Iftar</div>
    	</ion-item>
    	<ion-item class="row">
    		<div class="col ramadhan">1</div>
    		<div class="col date">18 Jun</div>
    		<div class="col col-20 imsak">5:30 AM</div>
    		<div class="col col-20 berbuka">7:36 PM</div>
    	</ion-item>
    	<ion-item class="row">
    		<div class="col ramadhan">2</div>
    		<div class="col date">19 Jun</div>
    		<div class="col col-20 imsak">5:31 AM</div>
    		<div class="col col-20 berbuka">7:36 PM</div>
    	</ion-item>
    	<ion-item class="row">
    		<div class="col ramadhan">3</div>
    		<div class="col date">20 Jun</div>
    		<div class="col col-20 imsak">5:31 AM</div>
    		<div class="col col-20 berbuka">7:36 PM</div>
    	</ion-item>
    	<ion-item class="row">
    		<div class="col ramadhan">4</div>
    		<div class="col date">21 Jun</div>
    		<div class="col col-20 imsak">5:31 AM</div>
    		<div class="col col-20 berbuka">7:36 PM</div>
    	</ion-item>
    	<ion-item class="row">
    		<div class="col ramadhan">5</div>
    		<div class="col date">22 Jun</div>
    		<div class="col col-20 imsak">5:31 AM</div>
    		<div class="col col-20 berbuka">7:37 PM</div>
    	</ion-item>
    	<ion-item class="row">
    		<div class="col ramadhan">6</div>
    		<div class="col date">23 Jun</div>
    		<div class="col col-20 imsak">5:32 AM</div>
    		<div class="col col-20 berbuka">7:37 PM</div>
    	</ion-item>
    	<ion-item class="row">
    		<div class="col ramadhan">7</div>
    		<div class="col date">24 Jun</div>
    		<div class="col col-20 imsak">5:32 AM</div>
    		<div class="col col-20 berbuka">7:37 PM</div>
    	</ion-item>
    	<ion-item class="row">
    		<div class="col ramadhan">8</div>
    		<div class="col date">25 Jun</div>
    		<div class="col col-20 imsak">5:32 AM</div>
    		<div class="col col-20 berbuka">7:37 PM</div>
    	</ion-item>
    	<ion-item class="row">
    		<div class="col ramadhan">9</div>
    		<div class="col date">26 Jun</div>
    		<div class="col col-20 imsak">5:32 AM</div>
    		<div class="col col-20 berbuka">7:37 PM</div>
    	</ion-item>
        <ion-item class="row">
            <div class="col ramadhan">10</div>
            <div class="col date">27 Jun</div>
            <div class="col col-20 imsak">5:32 AM</div>
            <div class="col col-20 berbuka">7:38 PM</div>
        </ion-item>
        <ion-item class="row">
            <div class="col ramadhan">11</div>
            <div class="col date">28 Jun</div>
            <div class="col col-20 imsak">5:33 AM</div>
            <div class="col col-20 berbuka">7:38 PM</div>
        </ion-item>
        <ion-item class="row">
            <div class="col ramadhan">12</div>
            <div class="col date">29 Jun</div>
            <div class="col col-20 imsak">5:33 AM</div>
            <div class="col col-20 berbuka">7:38 PM</div>
        </ion-item>
        <ion-item class="row">
            <div class="col ramadhan">13</div>
            <div class="col date">30 Jun</div>
            <div class="col col-20 imsak">5:33 AM</div>
            <div class="col col-20 berbuka">7:38 PM</div>
        </ion-item>
        <ion-item class="row">
            <div class="col ramadhan">14</div>
            <div class="col date">1 Julai</div>
            <div class="col col-20 imsak">5:34 AM</div>
            <div class="col col-20 berbuka">7:38 PM</div>
        </ion-item>
        <ion-item class="row">
            <div class="col ramadhan">15</div>
            <div class="col date">2 Julai</div>
            <div class="col col-20 imsak">5:34 AM</div>
            <div class="col col-20 berbuka">7:38 PM</div>
        </ion-item>
        <ion-item class="row">
            <div class="col ramadhan">16</div>
            <div class="col date">3 Julai</div>
            <div class="col col-20 imsak">5:34 AM</div>
            <div class="col col-20 berbuka">7:38 PM</div>
        </ion-item>
        <ion-item class="row">
            <div class="col ramadhan">17</div>
            <div class="col date">4 Julai</div>
            <div class="col col-20 imsak">5:34 AM</div>
            <div class="col col-20 berbuka">7:39 PM</div>
        </ion-item>
        <ion-item class="row">
            <div class="col ramadhan">18</div>
            <div class="col date">5 Julai</div>
            <div class="col col-20 imsak">5:35 AM</div>
            <div class="col col-20 berbuka">7:39 PM</div>
        </ion-item>
        <ion-item class="row">
            <div class="col ramadhan">19</div>
            <div class="col date">6 Julai</div>
            <div class="col col-20 imsak">5:35 AM</div>
            <div class="col col-20 berbuka">7:39 PM</div>
        </ion-item>
        <ion-item class="row">
            <div class="col ramadhan">20</div>
            <div class="col date">7 Julai</div>
            <div class="col col-20 imsak">5:35 AM</div>
            <div class="col col-20 berbuka">7:39 PM</div>
        </ion-item>
        <ion-item class="row">
            <div class="col ramadhan">21</div>
            <div class="col date">8 Julai</div>
            <div class="col col-20 imsak">5:36 AM</div>
            <div class="col col-20 berbuka">7:39 PM</div>
        </ion-item>
        <ion-item class="row">
            <div class="col ramadhan">22</div>
            <div class="col date">9 Julai</div>
            <div class="col col-20 imsak">5:36 AM</div>
            <div class="col col-20 berbuka">7:39 PM</div>
        </ion-item>
        <ion-item class="row">
            <div class="col ramadhan">23</div>
            <div class="col date">10 Julai</div>
            <div class="col col-20 imsak">5:36 AM</div>
            <div class="col col-20 berbuka">7:39 PM</div>
        </ion-item>
        <ion-item class="row">
            <div class="col ramadhan">24</div>
            <div class="col date">11 Julai</div>
            <div class="col col-20 imsak">5:36 AM</div>
            <div class="col col-20 berbuka">7:39 PM</div>
        </ion-item>
        <ion-item class="row">
            <div class="col ramadhan">25</div>
            <div class="col date">12 Julai</div>
            <div class="col col-20 imsak">5:37 AM</div>
            <div class="col col-20 berbuka">7:39 PM</div>
        </ion-item>
        <ion-item class="row">
            <div class="col ramadhan">26</div>
            <div class="col date">13 Julai</div>
            <div class="col col-20 imsak">5:37 AM</div>
            <div class="col col-20 berbuka">7:39 PM</div>
        </ion-item>
        <ion-item class="row">
            <div class="col ramadhan">27</div>
            <div class="col date">14 Julai</div>
            <div class="col col-20 imsak">5:37 AM</div>
            <div class="col col-20 berbuka">7:39 PM</div>
        </ion-item>
        <ion-item class="row">
            <div class="col ramadhan">28</div>
            <div class="col date">15 Julai</div>
            <div class="col col-20 imsak">5:38 AM</div>
            <div class="col col-20 berbuka">7:39 PM</div>
        </ion-item>
        <ion-item class="row">
            <div class="col ramadhan">29</div>
            <div class="col date">16 Julai</div>
            <div class="col col-20 imsak">5:38 AM</div>
            <div class="col col-20 berbuka">7:40 PM</div>
        </ion-item>
	</ion-list>
    </ion-content>
</ion-view>
