@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/proximanova-light-webfont.eot");
  src: url("../fonts/proximanova-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-light-webfont.woff2") format("woff2"), url("../fonts/proximanova-light-webfont.woff") format("woff"), url("../fonts/proximanova-light-webfont.ttf") format("truetype"), url("../fonts/proximanova-light-webfont.svg#proxima_novalight") format("svg");
  font-weight: 300; }
@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/proximanova-regular-webfont.eot");
  src: url("../fonts/proximanova-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-regular-webfont.woff2") format("woff2"), url("../fonts/proximanova-regular-webfont.woff") format("woff"), url("../fonts/proximanova-regular-webfont.ttf") format("truetype"), url("../fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular") format("svg");
  font-weight: 400; }
@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/proximanova-semibold-webfont.eot");
  src: url("../fonts/proximanova-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-semibold-webfont.woff2") format("woff2"), url("../fonts/proximanova-semibold-webfont.woff") format("woff"), url("../fonts/proximanova-semibold-webfont.ttf") format("truetype"), url("../fonts/proximanova-semibold-webfont.svg#proxima_novasemibold") format("svg");
  font-weight: 600; }
@font-face {
  font-family: 'proxima_nova_rgbold';
  src: url("../fonts/proximanova-bold-webfont.eot");
  src: url("../fonts/proximanova-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-bold-webfont.woff2") format("woff2"), url("../fonts/proximanova-bold-webfont.woff") format("woff"), url("../fonts/proximanova-bold-webfont.ttf") format("truetype"), url("../fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold") format("svg");
  font-weight: 700; }
@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/proximanova-extrabold-webfont.eot");
  src: url("../fonts/proximanova-extrabold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-extrabold-webfont.woff2") format("woff2"), url("../fonts/proximanova-extrabold-webfont.woff") format("woff"), url("../fonts/proximanova-extrabold-webfont.ttf") format("truetype"), url("../fonts/proximanova-extrabold-webfont.svg#proxima_novaextrabold") format("svg");
  font-weight: 800; }
@font-face {
  font-family: 'DIN';
  src: url("../fonts/din_bold-webfont.eot");
  src: url("../fonts/din_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/din_bold-webfont.woff2") format("woff2"), url("../fonts/din_bold-webfont.woff") format("woff"), url("../fonts/din_bold-webfont.ttf") format("truetype"), url("../fonts/din_bold-webfont.svg#dinbold") format("svg");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'DIN';
  src: url("../fonts/din_light-webfont.eot");
  src: url("../fonts/din_light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/din_light-webfont.woff2") format("woff2"), url("../fonts/din_light-webfont.woff") format("woff"), url("../fonts/din_light-webfont.ttf") format("truetype"), url("../fonts/din_light-webfont.svg#din_lightregular") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'DIN';
  src: url("../fonts/din_medium-webfont.eot");
  src: url("../fonts/din_medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/din_medium-webfont.woff2") format("woff2"), url("../fonts/din_medium-webfont.woff") format("woff"), url("../fonts/din_medium-webfont.ttf") format("truetype"), url("../fonts/din_medium-webfont.svg#din_mediumregular") format("svg");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'DIN';
  src: url("../fonts/din-webfont.eot");
  src: url("../fonts/din-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/din-webfont.woff2") format("woff2"), url("../fonts/din-webfont.woff") format("woff"), url("../fonts/din-webfont.ttf") format("truetype"), url("../fonts/din-webfont.svg#dinregular") format("svg");
  font-weight: 400;
  font-style: normal; }
body {
  font-family: "DIN", "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #EFF3F6; }
  body h1, body h2, body h3, body h4, body h5, body h6, body strong {
    font-family: "DIN", "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600; }
  body p {
    font-size: 13px;
    white-space: normal;
    line-height: 1.4;
    font-family: "DIN", "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: -0.3px; }
  body hr {
    box-shadow: none;
    border: none;
    border-top: #ccc solid 1px;
    padding: 10px 0; }
  body img.full {
    max-width: 100%; }
  body img.solat {
    margin: 0 auto 15px;
    display: block; }
  body .solat-head {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold !important;
    display: block;
    font-size: 12px !important;
    letter-spacing: 0.5px; }
  body .bar.bar-stable {
    background: #5539A4;
    border-color: #5539A4;
    /* Bar: */ }
    body .bar.bar-stable .title {
      color: #fff;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 17px;
      letter-spacing: 1px;
      font-family: "DIN", "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif; }
    body .bar.bar-stable .button.back-button {
      color: #fff; }
      body .bar.bar-stable .button.back-button .back-text {
        font-family: "DIN", "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px; }
    body .bar.bar-stable .button.button-clear .icon {
      color: #fff; }
      body .bar.bar-stable .button.button-clear .icon:before {
        font-size: 17px;
        line-height: 30px; }
    body .bar.bar-stable .buttons.buttons-right .right-buttons a {
      color: #fff; }
      body .bar.bar-stable .buttons.buttons-right .right-buttons a:before {
        font-size: 17px;
        line-height: 28px; }
  body .pane, body .view {
    background: #EFF3F6; }
  body .tab-header {
    background: #222 url(../img/bg.png);
    background-size: 100%;
    color: #fff;
    padding: 20px 0;
    text-align: center; }
    body .tab-header.terawih {
      background: #222 url(../img/cover-terawih.jpg);
      background-size: 100%;
      background-position: center bottom; }
    body .tab-header.waktu {
      background: #222 url(../img/cover-waktu.jpg);
      background-size: 100%;
      background-position: center center; }
    body .tab-header.zakat {
      background: #222 url(../img/cover-zakat.jpg);
      background-size: 100%;
      background-position: center center; }
    body .tab-header.puasa {
      background: #222 url(../img/cover-puasa.jpg);
      background-size: 100%;
      background-position: center center; }
    body .tab-header h1 {
      color: #fff;
      font-size: 18px;
      text-transform: uppercase;
      letter-spacing: 2px;
      position: relative; }
    body .tab-header p {
      padding: 0 9%;
      color: rgba(255, 255, 255, 0.8);
      font-style: italic;
      margin: 0; }
  body .scroll > p {
    width: 80%;
    font-style: italic;
    color: rgba(0, 0, 0, 0.7);
    font-size: 12px;
    line-height: 1.4;
    margin: 0 auto 20px;
    text-align: center; }
  body .card {
    box-shadow: none;
    background: #fff;
    margin: 5px;
    min-height: 145px; }
    body .card a {
      text-decoration: none; }
    body .card .item {
      background: transparent; }
      body .card .item.item-image {
        height: 80px;
        margin-top: 10px;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border: none; }
        body .card .item.item-image img {
          width: auto;
          margin: 0 auto; }
      body .card .item.item-title {
        color: #000;
        font-weight: bold;
        font-size: 11px;
        line-height: 1.1;
        letter-spacing: 0.3px;
        text-transform: uppercase;
        white-space: normal;
        text-align: center;
        border: none;
        padding: 15px; }
      body .card .item.item-head {
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 1.2;
        text-align: center;
        text-transform: uppercase;
        position: relative;
        padding: 0 0 15px;
        margin-bottom: 20px;
        color: #222;
        border: none;
        font-weight: bold;
        font-family: "DIN", "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
        white-space: normal; }
        body .card .item.item-head:after {
          content: '';
          position: absolute;
          height: 2px;
          width: 100px;
          background: #222;
          bottom: 0;
          left: 50%;
          margin-left: -50px; }
    body .card.content {
      padding: 25px 20px 25px;
      margin: 10px;
      font-size: 13px;
      height: auto; }
      body .card.content:last-child {
        margin-bottom: 0; }
      body .card.content .item-head {
        text-align: left;
        padding-bottom: 5px;
        margin-bottom: 15px; }
        body .card.content .item-head:after {
          left: 0;
          margin: 0;
          width: 100%; }
      body .card.content p {
        margin-bottom: 15px; }
        body .card.content p.arab {
          font-size: 22px;
          letter-spacing: 0.5px;
          line-height: 1.8;
          text-align: center; }
        body .card.content p:last-child {
          margin-bottom: 0; }
      body .card.content strong {
        font-weight: 500;
        font-size: 14px; }
      body .card.content ul, body .card.content ol {
        list-style-type: disc;
        padding-left: 20px;
        margin: 0; }
        body .card.content ul li, body .card.content ol li {
          line-height: 1.4;
          margin-bottom: 13px;
          font-size: 13px; }
          body .card.content ul li p, body .card.content ol li p {
            text-align: left;
            margin-bottom: 5px;
            font-size: 13px; }
          body .card.content ul li > ul, body .card.content ol li > ul {
            margin-top: 5px;
            margin-bottom: 10px; }
            body .card.content ul li > ul li, body .card.content ol li > ul li {
              margin-bottom: 3px; }
        body .card.content ul + p, body .card.content ol + p {
          margin-top: 20px; }
      body .card.content ol {
        list-style-type: decimal; }
  body .item {
    border-color: #eee; }
  body .list .item {
    white-space: normal;
    padding: 15px;
    font-size: 13px;
    white-space: normal;
    line-height: 1.3;
    font-family: "DIN", "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif; }
    body .list .item h2 {
      font-weight: 500;
      font-size: 14px;
      letter-spacing: -0.3px;
      color: #222;
      line-height: 1.3;
      white-space: normal;
      margin-bottom: 5px;
      color: #222; }
    body .list .item p {
      font-size: 13px;
      white-space: normal;
      color: #444;
      margin-bottom: 10px; }
      body .list .item p:last-child {
        margin-bottom: 0; }
    body .list .item ul {
      list-style-type: disc;
      margin-left: 25px;
      margin: 8px 0 3px 25px; }
    body .list .item li {
      font-size: 13px;
      white-space: normal;
      line-height: 1.3;
      font-family: "DIN", "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
      letter-spacing: -0.3px;
      color: #444;
      margin-bottom: 3px; }
    body .list .item.item-divider {
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 15px;
      line-height: 1;
      padding: 10px 15px; }
      body .list .item.item-divider h2 {
        font-weight: 700;
        letter-spacing: 0.3px;
        margin: 0; }
    body .list .item .flag {
      max-width: 50px;
      padding-right: 10px; }
      body .list .item .flag img {
        max-width: 100%; }
    body .list .item .state {
      font-weight: 600;
      font-size: 12px;
      text-transform: uppercase;
      color: #222; }
  body .list.list-states .item {
    padding: 12px 15px;
    line-height: 20px;
    font-family: "DIN", "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400; }
  body .list.list-waktu {
    right: -1px; }
    body .list.list-waktu .item {
      padding: 13px;
      font-size: 11px;
      border: none;
      font-family: "DIN", "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif; }
      body .list.list-waktu .item:nth-child(odd) {
        background: #fafafa; }
      body .list.list-waktu .item .date {
        text-transform: uppercase;
        font-weight: 600; }
      body .list.list-waktu .item .imsak, body .list.list-waktu .item .berbuka {
        text-align: center; }
      body .list.list-waktu .item .ramadhan {
        padding: 5px 15px 5px 0;
        max-width: 50px;
        display: flex; }
      body .list.list-waktu .item.item-divider {
        font-size: 12px;
        color: #222;
        background: #FCAE2C;
        color: #fff;
        padding: 8px 13px 10px;
        line-height: 1;
        color: rgba(0, 0, 0, 0.6);
        font-family: "DIN", "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 700; }
  body .list.list-zones .item {
    padding: 13px;
    font-size: 12px;
    border: none;
    font-family: "DIN", "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif; }
    body .list.list-zones .item:nth-child(odd) {
      background: #fafafa; }
    body .list.list-zones .item .zon {
      text-transform: uppercase;
      font-weight: 600; }
    body .list.list-zones .item .area {
      line-height: 1.2; }
  body .list-doa .item {
    text-align: center; }
    body .list-doa .item .count {
      background: #5539A4;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      color: #fff;
      line-height: 30px;
      font-weight: 800;
      font-size: 11px;
      margin: 0 auto 5px; }
    body .list-doa .item h2 {
      font-size: 20px;
      line-height: 2;
      font-family: Georgia, serif;
      letter-spacing: 0.5px;
      margin-bottom: 10px; }
    body .list-doa .item p {
      text-align: left; }
  body .tabs {
    background: #222; }
    body .tabs .tab-item {
      color: rgba(255, 255, 255, 0.6); }
      body .tabs .tab-item.tab-item-active {
        color: #fff; }
    body .tabs .ion-ios-moon:before {
      content: "\f468";
      font-size: 54px;
      position: relative;
      top: -11px; }
    body .tabs .ion-ios-moon-outline:before {
      content: "\f467";
      font-size: 54px;
      position: relative;
      top: -11px; }
  body .zakat-wajib .item {
    border: none; }
  body .zakat-wajib .item-wajib {
    font-size: 13px;
    line-height: 1.35; }
  body ul.content {
    list-style-type: disc;
    padding-left: 25px;
    margin: 20px 20px 30px; }
    body ul.content li {
      line-height: 1.3;
      margin-bottom: 7px; }
  body .zakat-kadar .item-kadar {
    font-size: 12px;
    padding: 15px; }
    body .zakat-kadar .item-kadar .col:nth-child(2) {
      font-weight: 600;
      text-transform: uppercase; }
    body .zakat-kadar .item-kadar .col:nth-child(3) {
      text-align: right; }
  body .bonus {
    background: #FCAE2C;
    background: rgba(0, 0, 0, 0.1);
    background: #222 url(../img/bg.png);
    background-size: 100%;
    padding: 25px 0 0; }
    body .bonus header {
      font-weight: 800;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 10px;
      letter-spacing: 0.3px;
      font-size: 17px;
      color: #fff; }
    body .bonus .card {
      min-height: 100px;
      margin-bottom: 15px;
      background: transparent;
      position: relative; }
      body .bonus .card img {
        width: 100%;
        height: auto;
        border-radius: 3px; }
      body .bonus .card .item-image {
        height: 100px;
        text-align: center;
        z-index: 1; }
      body .bonus .card h3 {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        font-size: 11px;
        line-height: 1.1;
        letter-spacing: 0.3px;
        text-transform: uppercase;
        white-space: normal;
        text-align: center;
        border: none;
        padding: 10px;
        position: absolute;
        left: 10px;
        right: 10px;
        bottom: 10px;
        z-index: 2;
        background: rgba(0, 0, 0, 0.8);
        border-radius: 3px;
        color: #fff; }
  body .modal {
    background: #5539A4;
    padding-top: 70px; }
    body .modal .bar {
      background: transparent !important; }
    body .modal .logo {
      max-width: 30%;
      height: auto;
      display: block;
      margin: 0 auto 20px; }
    body .modal .content {
      color: #fff;
      text-align: center; }
      body .modal .content h1 {
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        font-size: 22px; }
      body .modal .content h4 {
        color: #fff;
        font-size: 11px;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 0.3px; }
      body .modal .content .button {
        background: rgba(0, 0, 0, 0.2);
        border-radius: 3px;
        min-height: 35px;
        line-height: 35px;
        border: none;
        color: #fff;
        font-family: "DIN", "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: bold;
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 0 12px;
        width: 110px; }
      body .modal .content p {
        margin-bottom: 20px; }
    body .modal .bar-footer {
      background: rgba(0, 0, 0, 0.1) !important;
      color: #fff;
      border: none; }
      body .modal .bar-footer .title {
        font-size: 13px; }
  body.platform-android .tabs-striped .tabs {
    border-top: #442d83 solid 1px;
    background: #442D83;
    border-bottom-color: #442D83; }
    body.platform-android .tabs-striped .tabs .tab-item.tab-item-active {
      border-color: #fff; }
      body.platform-android .tabs-striped .tabs .tab-item.tab-item-active .tab-title {
        line-height: 49px;
        font-weight: bold; }
    body.platform-android .tabs-striped .tabs .tab-item i {
      display: none; }
    body.platform-android .tabs-striped .tabs .tab-item .tab-title {
      font-family: "DIN", "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      display: block;
      line-height: 50px;
      font-size: 11px; }
