@import 'fonts';

$primary: #5539A4;
$dark: #2D3947;
$dark : #222;
$background: #EFF3F6;
$font-stack: "DIN", "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;

body {
	font-family: "Proxima Nova", sans-serif;
	background:#EFF3F6;

	h1, h2, h3, h4, h5, h6, strong {
		font-family: $font-stack;
		font-weight: 600;
	}

	.bar.bar-stable {
		background: $primary;
		border-color: $primary;
		/* Bar: */
		//background-image: linear-gradient(-90deg, #DC0561 0%, #5539A4 100%);

		.title {
			color: #fff;
			font-weight: 600;
			text-transform: uppercase;
			font-size: 17px;
			letter-spacing: 1px;
			font-family: $font-stack;
		}

		.button {
			&.back-button {
				color: #fff;

				.back-text {
					font-family: $font-stack;
					font-size: 14px;
				}
			}
		}
	}

	.pane, .view {
		background: $background;
	}

	// .puasa-batal, .puasa-sunat, .puasa-makruh {
	// 	background: #72cae9;
	// 	.card {
	// 		background: none;
	// 		.item {
	// 			background: none;
	// 		}
	// 		h3 {
	// 			color: #fff !important;
	// 		}
	// 	}
	// }
	// .puasa-sunat {
	// 	background: #57afe0;
	// }
	// .puasa-makruh {
	// 	background: #338cd5;
	// }

	.tab-header {
		background: #222 url(../img/bg.png);
		background-size: 100%;
		color: #fff;
		padding:20px 0;
		text-align: center;

		h1 {
			color: #fff;
			font-size: 18px;
			text-transform: uppercase;
			letter-spacing: 2px;
			position: relative;
		}
		p {
			font-size: 13px;
			line-height: 1.4;
			padding:0 9%;
			color: rgba(255,255,255,0.8);
			font-style: italic;
			margin:0;
		}
	}
	.scroll {
		> p {
			width: 80%;
			font-style: italic;
			color: rgba(0,0,0,0.7);
			font-size: 12px;
			line-height: 1.4;
			margin:0 auto 20px;
			text-align: center;
		}
	}
	.card {
		box-shadow: none;
		background:#fff;
		margin:5px;
		min-height: 145px;
		a {
			text-decoration: none;
		}

		.item {
			background:transparent;
			&.item-image {
				height: 80px;
				margin-top:10px;
				display: -webkit-flex;
				display: flex;
				align-items: center;
				justify-content: center;
				text-align: center;
				border:none;
				img {
					width: auto;
					margin:0 auto;
				}
			}
			&.item-title {
				color: #000;
				font-weight: bold;
				font-size: 11px;
				line-height: 1.1;
				letter-spacing: 0.3px;
				text-transform: uppercase;
				white-space: normal;
				text-align: center;
				border:none;
				padding:15px;
			}
			&.item-head {
				font-size: 14px;
				letter-spacing: 1px;
				line-height: 1.2;
				text-align: center;
				text-transform: uppercase;
				position: relative;
				padding:0 0 15px;
				margin-bottom: 20px;
				color: #222;
				border:none;
				font-weight: bold;
				font-family: $font-stack;
				white-space: normal;
				&:after {
					content:'';
					position: absolute;
					height: 2px;
					width: 100px;
					background: #222;
					bottom:0;
					left:50%;
					margin-left: -50px;
				}
			}
		}
		&.content {
			padding:25px 20px 25px;
			margin: 10px;
			font-size: 13px;
			&:last-child {
				margin-bottom: 0;
			}
			.item-head {
				text-align: left;
				padding-bottom: 5px;
				margin-bottom: 15px;
				
				&:after {
					left:0;
					margin:0;
					width: 100%;
				}
			}
			p {
				line-height: 1.4;
				font-size: 13px;
				margin-bottom: 15px;
				//text-align: center;
			}
			strong {
				font-weight: 500;
				font-size: 14px;
			}
			ul, ol {
				list-style-type: disc;
				padding-left: 20px;
				margin:0;
				li {
					line-height: 1.4;
					margin-bottom: 13px;
					font-size: 13px;

					p {
						text-align: left;
						margin-bottom: 5px;
						font-size: 13px
					}

					> ul {
						margin-top: 5px;
						margin-bottom: 10px;
						li {
							margin-bottom: 3px;
						}
					}
				}
				& + p {
					margin-top: 20px;
				}
			}
			ol {
				list-style-type: decimal;
			}
		}
	}

	.item {
		border-color: #eee;
	}

	.list {
		.item {
			white-space: normal;
			line-height: 1.3;
			font-size: 13px;
			padding:15px;
			letter-spacing: 0.5px;

			&.item-divider {
				font-weight: 600;
				text-transform: uppercase;
				letter-spacing: 1px;
				font-size: 15px;
			}

			.flag {
				max-width:50px;
				padding-right: 10px;
				img {
					max-width: 100%;
				}
			}

			.state {
				font-weight: 600;
				font-size: 12px;
				text-transform: uppercase;
				color: #222;
			}
		}
		&.list-states {
			.item {
				padding: 12px 15px;
				line-height: 20px;
				font-family: $font-stack;
				font-weight: 400;
			}
		}
		&.list-waktu {
			right:-1px;
			.item {
				padding: 13px;
				font-size: 11px;
				border:none;
				font-family: $font-stack;

				&:nth-child(odd) {
					background: #fafafa;
				}
				.date {
					text-transform: uppercase;
					font-weight: 600;
					//text-align: center;
				}
				.imsak, .berbuka {
					text-align: center;
				}
				.ramadhan {
					padding:5px 15px 5px 0;
					max-width: 50px;
					display: flex;
				}
				&.item-divider {
					font-size: 12px;
					color: #222;
					background:#FCAE2C;
					color: #fff;
					padding: 8px 13px 10px;
					line-height: 1;
					color: rgba(0,0,0,0.6);
					font-family: $font-stack;
					font-weight: 700;
				}
			}
			
		}
		&.list-zones {
			.item {
				padding: 13px;
				font-size: 12px;
				border:none;
				font-family: $font-stack;

				&:nth-child(odd) {
					background: #fafafa;
				}

				.zon {
					text-transform: uppercase;
					font-weight: 600;
				}
				.area {
					line-height: 1.2;
				}
			}
		}
	}

	.tabs {
		background: $dark;

		.tab-item {
			color: rgba(255,255,255,0.6); 
			&.tab-item-active {
				color: #fff;
			}
		}
		.ion-ios-moon:before {
			content: "\f468";
			font-size: 54px;
			position: relative;
			top: -11px;
		}
		.ion-ios-moon-outline:before {
			content: "\f467";
			font-size: 54px;
			position: relative;
			top: -11px;
		}
	}

	.zakat-wajib {
		.item {
			border:none;
		}
		.item-wajib {
			font-size: 13px;
			line-height: 1.35;
		}
		
	}

	ul.content {
		list-style-type: disc;
		padding-left: 25px;
		margin:20px 20px 30px;
		li {
			line-height: 1.3;
			margin-bottom: 7px;
		}
	}

	.zakat-kadar {
		.item-kadar {
			font-size: 13px;
			padding:15px;
			letter-spacing: 0.5px;

			.col:nth-child(2) {
				font-weight: 600;
				text-transform: uppercase;
			}

			.col:nth-child(3) {
				text-align: right;
			}
		}
	}
}